html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  padding-inline: 5rem;
  background-color: #f7f7f7;
}
header .logo a div {
  width: 120px;
  height: 70px;
}
header .logo a div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .navlist ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.3rem;
  list-style: none;
}
header .navlist ul li a {
  text-decoration: none;
  letter-spacing: 0.6px;
  font-weight: 700;
  font-size: 0.88rem;
  color: #333333;
  -webkit-transition: 800ms;
  transition: 800ms;
  position: relative;
  overflow: hidden;
}
header .navlist ul li a:hover {
  color: #2C97FD;
}
header .navlist ul li a::before {
  content: "";
  height: 3px;
  border-radius: 2px;
  width: 100%;
  position: absolute;
  bottom: -0.3rem;
  left: -100%;
  background-color: #2C97FD;
  -webkit-transition: 800ms;
  transition: 800ms;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
header .navlist ul li a:hover::before {
  left: 0;
  -webkit-transition: 800ms;
  transition: 800ms;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
header .searchbar input {
  padding: 8px;
  width: 250px;
  outline: none;
  border: 1.5px solid #2C97FD;
  border-radius: 30px;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
}
header .search-icon {
  display: none;
}
header .cta .signup {
  border: none;
  outline: none;
  padding: 10px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
  font-size: 0.88rem;
}
header .cta .signup:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
header .cta .login {
  border: none;
  outline: none;
  padding: 10px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: white;
  border: 1.5px solid #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: #2C97FD;
  font-size: 0.95rem;
  font-weight: 700;
  font-size: 0.88rem;
}
header .cta .login:hover {
  background-color: #2C97FD;
  color: white;
}
header .hamburger {
  display: none;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  header {
    height: 80px;
    padding-inline: 2rem;
  }
  header .logo a div {
    width: 100px;
  }
  header .navlist {
    display: none;
  }
  header .searchbar input {
    width: 250px;
  }
  header .search-icon {
    display: none;
  }
  header .hamburger {
    display: block;
    cursor: pointer;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  header .hamburger i {
    font-size: 1.8rem;
  }
  header .hamburger i:hover {
    color: #2C97FD;
  }
}
@media screen and (max-width: 767px) {
  header {
    height: 53px;
    padding-inline: 1.5rem;
  }
  header .logo a div {
    width: 100px;
  }
  header .navlist {
    display: none;
  }
  header .searchbar {
    display: none;
  }
  header .search-icon {
    display: block;
    cursor: pointer;
  }
  header .search-icon i {
    font-size: 1.6rem;
    color: #333333;
    cursor: pointer;
  }
  header .cta {
    display: none;
  }
  header .hamburger {
    display: block;
    cursor: pointer;
  }
  header .hamburger i {
    font-size: 1.7rem;
    color: #333333;
    cursor: pointer;
  }
  header .hamburger i:hover {
    color: #2C97FD;
  }
}

.mobile-navbar {
  display: none;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .mobile-navbar {
    display: block;
    height: 100vh;
    width: 50%;
    padding-block: 2rem;
    padding-inline: 2rem;
    position: fixed;
    top: 0;
    z-index: 50;
    left: -100%;
    -webkit-transition: 800ms;
    transition: 800ms;
  }
  .mobile-navbar .content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6rem;
  }
  .mobile-navbar .content .close-m i {
    font-size: 3rem;
    cursor: pointer;
    -webkit-transition: 600ms;
    transition: 600ms;
  }
  .mobile-navbar .content .close-m i:hover {
    color: #2C97FD;
  }
  .mobile-navbar .content .logo-m a div {
    width: 200px;
    height: 120px;
  }
  .mobile-navbar .content .logo-m a div img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mobile-navbar .content .navlist-m ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.8rem;
    list-style: none;
  }
  .mobile-navbar .content .navlist-m ul li {
    text-align: center;
  }
  .mobile-navbar .content .navlist-m ul li a {
    text-decoration: none;
    letter-spacing: 0.6px;
    font-weight: 700;
    font-size: 1.3rem;
    color: #333333;
    -webkit-transition: 800ms;
    transition: 800ms;
    position: relative;
    overflow: hidden;
  }
  .mobile-navbar .content .navlist-m ul li a:hover {
    color: #2C97FD;
  }
  .mobile-navbar .content .navlist-m ul li a::before {
    content: "";
    height: 3px;
    border-radius: 2px;
    width: 100%;
    position: absolute;
    bottom: -0.3rem;
    left: -100%;
    background-color: #2C97FD;
    -webkit-transition: 800ms;
    transition: 800ms;
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .mobile-navbar .content .navlist-m ul li a:hover::before {
    left: 0;
    -webkit-transition: 800ms;
    transition: 800ms;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .mobile-navbar .content .cta-m .signup {
    border: none;
    outline: none;
    padding: 10px;
    padding-inline: 35px;
    border-radius: 35px;
    background-color: #2C97FD;
    -webkit-transition: 500ms;
    transition: 500ms;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 0.95rem;
    font-weight: 700;
    font-size: 0.88rem;
  }
  .mobile-navbar .content .cta-m .signup:hover {
    background-color: white;
    border: 1.5px solid #2C97FD;
    color: #2C97FD;
  }
  .mobile-navbar .content .cta-m .login {
    border: none;
    outline: none;
    padding: 10px;
    padding-inline: 35px;
    border-radius: 35px;
    background-color: white;
    border: 1.5px solid #2C97FD;
    -webkit-transition: 500ms;
    transition: 500ms;
    cursor: pointer;
    text-decoration: none;
    color: #2C97FD;
    font-size: 0.95rem;
    font-weight: 700;
    font-size: 0.88rem;
  }
  .mobile-navbar .content .cta-m .login:hover {
    background-color: #2C97FD;
    color: white;
  }
}
@media screen and (max-width: 767px) {
  .mobile-navbar {
    display: block;
    height: 100vh;
    width: 100%;
    padding-block: 2rem;
    padding-inline: 2rem;
    position: fixed;
    top: 0;
    z-index: 50;
    left: -100%;
    -webkit-transition: 800ms;
    transition: 800ms;
  }
  .mobile-navbar .content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: flex start;
        -ms-flex-align: flex start;
            align-items: flex start;
    gap: 4rem;
  }
  .mobile-navbar .content .close-m i {
    font-size: 2rem;
    cursor: pointer;
    -webkit-transition: 600ms;
    transition: 600ms;
  }
  .mobile-navbar .content .close-m i:hover {
    color: #2C97FD;
  }
  .mobile-navbar .content .logo-m {
    width: 120px;
    height: 70px;
  }
  .mobile-navbar .content .logo-m a div {
    width: 120px;
    height: 70px;
  }
  .mobile-navbar .content .logo-m a div img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mobile-navbar .content .navlist-m ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.8rem;
    list-style: none;
  }
  .mobile-navbar .content .navlist-m ul li a {
    text-decoration: none;
    letter-spacing: 0.6px;
    font-weight: 700;
    font-size: 0.95rem;
    color: #333333;
    -webkit-transition: 600ms;
    transition: 600ms;
  }
  .mobile-navbar .content .navlist-m ul li a:hover {
    color: #2C97FD;
  }
  .mobile-navbar .content .cta-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
  }
  .mobile-navbar .content .cta-m .signup {
    border: none;
    outline: none;
    padding: 10px;
    padding-inline: 35px;
    border-radius: 35px;
    background-color: #2C97FD;
    -webkit-transition: 500ms;
    transition: 500ms;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 0.95rem;
    font-weight: 700;
    font-size: 0.88rem;
    padding-inline: 38px;
  }
  .mobile-navbar .content .cta-m .signup:hover {
    background-color: white;
    border: 1.5px solid #2C97FD;
    color: #2C97FD;
  }
  .mobile-navbar .content .cta-m .login {
    border: none;
    outline: none;
    padding: 10px;
    padding-inline: 35px;
    border-radius: 35px;
    background-color: white;
    border: 1.5px solid #2C97FD;
    -webkit-transition: 500ms;
    transition: 500ms;
    cursor: pointer;
    text-decoration: none;
    color: #2C97FD;
    font-size: 0.95rem;
    font-weight: 700;
    font-size: 0.88rem;
    padding-inline: 38px;
  }
  .mobile-navbar .content .cta-m .login:hover {
    background-color: #2C97FD;
    color: white;
  }
}

.section-a-1 {
  width: 100%;
  height: 60vh;
  background-color: #dde8ff;
  padding-inline: 5rem;
  padding-block: 3rem;
}
.section-a-1 .div-a-s1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-a-1 .div-a-s1 .textarea-a-s1 {
  width: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}
.section-a-1 .div-a-s1 .textarea-a-s1 h1 {
  font-size: 3rem;
  color: #333333;
  position: relative;
}
.section-a-1 .div-a-s1 .textarea-a-s1 h1::before {
  content: "";
  color: brown;
  background-color: brown;
  width: 20%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  bottom: -0.7rem;
  left: 0;
}
.section-a-1 .div-a-s1 .textarea-a-s1 p {
  font-size: 1rem;
  color: #333333;
  line-height: 2;
  font-weight: 600;
}
.section-a-1 .div-a-s1 .textarea-a-s1 p span {
  color: #2C97FD;
}
.section-a-1 .div-a-s1 .imgwrap-a-s1 {
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.section-a-1 .div-a-s1 .imgwrap-a-s1 div {
  width: 50%;
  height: 80%;
  overflow: hidden;
}
.section-a-1 .div-a-s1 .imgwrap-a-s1 div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section-a-1 {
    padding-inline: 2rem;
    height: 40vh;
  }
  .section-a-1 .div-a-s1 .textarea-a-s1 {
    width: 380px;
  }
  .section-a-1 .div-a-s1 .imgwrap-a-s1 {
    width: 400px;
  }
  .section-a-1 .div-a-s1 .imgwrap-a-s1 div:first-child {
    display: none;
  }
  .section-a-1 .div-a-s1 .imgwrap-a-s1 div {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .section-a-1 {
    padding-inline: 1.5rem;
    padding-block: 2rem;
    height: 100vh;
  }
  .section-a-1 .div-a-s1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-a-1 .div-a-s1 .textarea-a-s1 {
    width: 100%;
  }
  .section-a-1 .div-a-s1 .imgwrap-a-s1 {
    width: 100%;
  }
  .section-a-1 .div-a-s1 .imgwrap-a-s1 div:first-child {
    display: none;
  }
  .section-a-1 .div-a-s1 .imgwrap-a-s1 div {
    width: 100%;
    height: 100%;
  }
}

.section-a-2 {
  width: 100%;
  height: 95vh;
  padding-block: 3rem;
  position: relative;
}
.section-a-2 .div-a-s2 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-inline: 5rem;
  gap: 3rem;
}
.section-a-2 .div-a-s2 .textarea-a-s2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-a-2 .div-a-s2 .textarea-a-s2 h1 {
  font-size: 3rem;
  color: #333333;
  position: relative;
}
.section-a-2 .div-a-s2 .textarea-a-s2 h1::before {
  content: "";
  color: brown;
  background-color: brown;
  width: 40%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  bottom: -0.7rem;
  left: 0;
}
.section-a-2 .div-a-s2 .textarea-a-s2 p {
  font-size: 1rem;
  color: #999999;
}
.section-a-2 .div-a-s2 .M-V {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 0.6rem;
}
.section-a-2 .div-a-s2 .M-V div {
  background-color: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  padding: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-a-2 .div-a-s2 .M-V div h2 {
  font-size: 2rem;
  color: #333333;
  position: relative;
}
.section-a-2 .div-a-s2 .M-V div h2::before {
  content: "";
  color: brown;
  background-color: brown;
  width: 40%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  bottom: -0.7rem;
  left: 0;
}
.section-a-2 .div-a-s2 .M-V div p {
  font-size: 1rem;
  color: #999999;
  line-height: 2;
}
.section-a-2 .div-a-s2 .M-V div p span {
  color: #2C97FD;
}
.section-a-2 svg {
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section-a-2 {
    height: 52vh;
    padding-block: 2rem;
  }
  .section-a-2 .div-a-s2 {
    padding-inline: 2rem;
    gap: 4rem;
  }
  .section-a-2 .div-a-s2 .textarea-a-s2 {
    gap: 1.5rem;
  }
  .section-a-2 .div-a-s2 .textarea-a-s2 h1 {
    font-size: 2.8rem;
  }
  .section-a-2 .div-a-s2 .M-V {
    height: 250px;
    padding: 0.3rem;
  }
  .section-a-2 .div-a-s2 .M-V div {
    gap: 0.8rem;
  }
  .section-a-2 .div-a-s2 .M-V div h2 {
    font-size: 1.8rem;
  }
  .section-a-2 .div-a-s2 .M-V div h2::before {
    bottom: -0.4rem;
  }
  .section-a-2 .div-a-s2 .M-V div p {
    line-height: 1.5;
  }
}
@media screen and (max-width: 767px) {
  .section-a-2 {
    height: 105vh;
    padding-block: 2rem;
  }
  .section-a-2 .div-a-s2 {
    padding-inline: 1.5rem;
    gap: 3rem;
  }
  .section-a-2 .div-a-s2 .textarea-a-s2 {
    gap: 1rem;
    text-align: center;
  }
  .section-a-2 .div-a-s2 .textarea-a-s2 h1 {
    font-size: 2.3rem;
  }
  .section-a-2 .div-a-s2 .textarea-a-s2 h1::before {
    display: none;
  }
  .section-a-2 .div-a-s2 .M-V {
    height: 250px;
    width: 100%;
    padding: 0.3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-a-2 .div-a-s2 .M-V div {
    gap: 0.8rem;
    width: 100%;
  }
  .section-a-2 .div-a-s2 .M-V div h2 {
    font-size: 1.5rem;
  }
  .section-a-2 .div-a-s2 .M-V div h2::before {
    bottom: -0.4rem;
  }
  .section-a-2 .div-a-s2 .M-V div p {
    line-height: 1.5;
    font-size: 0.9r5em;
  }
}

.section-a-3 {
  width: 100%;
  height: 100vh;
  padding-inline: 5rem;
  padding-block: 3rem;
}
.section-a-3 .div-a-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}
.section-a-3 .div-a-s3 .textarea-a-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-a-3 .div-a-s3 .textarea-a-s3 h1 {
  font-size: 3rem;
  color: #333333;
  position: relative;
}
.section-a-3 .div-a-s3 .textarea-a-s3 h1::before {
  content: "";
  color: brown;
  background-color: brown;
  width: 40%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  bottom: -0.7rem;
  left: 0;
}
.section-a-3 .div-a-s3 .textarea-a-s3 p {
  font-size: 1rem;
  color: #999999;
}
.section-a-3 .div-a-s3 .grid-a-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 410px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-a-3 .div-a-s3 .grid-a-s3 .card-a-s3 {
  width: 350px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-a-3 .div-a-s3 .grid-a-s3 .card-a-s3 .imgwrap-a-s3 {
  height: 250px;
  width: 100%;
}
.section-a-3 .div-a-s3 .grid-a-s3 .card-a-s3 .imgwrap-a-s3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-a-3 .div-a-s3 .grid-a-s3 .card-a-s3 .text-a-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  padding: 0.8rem;
}
.section-a-3 .div-a-s3 .grid-a-s3 .card-a-s3 .text-a-s3 h3 {
  font-size: 1rem;
  color: #333333;
}
.section-a-3 .div-a-s3 .grid-a-s3 .card-a-s3 .text-a-s3 h2 {
  font-size: 1.4rem;
  color: #333333;
}
.section-a-3 .div-a-s3 .grid-a-s3 .card-a-s3 .text-a-s3 p {
  font-size: 0.9rem;
  color: #999999;
}
.section-a-3 .div-a-s3 .grid-a-s3 .card-a-s3 .text-a-s3 div {
  width: 40px;
  height: 40px;
  background-color: #2C97FD;
  color: white;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section-a-3 {
    padding-inline: 2rem;
  }
  .section-a-3 .div-a-s3 .grid-a-s3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 2rem;
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  .section-a-3 {
    height: 195vh;
    padding-inline: 1.5rem;
  }
  .section-a-3 .div-a-s3 {
    gap: 3rem;
  }
  .section-a-3 .div-a-s3 .textarea-a-s3 {
    gap: 1rem;
    text-align: center;
  }
  .section-a-3 .div-a-s3 .textarea-a-s3 h1 {
    font-size: 2rem;
    width: 100%;
  }
  .section-a-3 .div-a-s3 .textarea-a-s3 h1::before {
    bottom: -0.4rem;
  }
  .section-a-3 .div-a-s3 .grid-a-s3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    gap: 2rem;
    height: 100%;
  }
  .section-a-3 .div-a-s3 .grid-a-s3 .card-a-s3 {
    width: 100%;
    height: 400px;
  }
  .section-a-3 .div-a-s3 .grid-a-s3 .card-a-s3 .imgwrap-a-s3 {
    height: 57%;
  }
}

.section-a-4 {
  height: 120vh;
  width: 100%;
  padding-inline: 5rem;
  padding-block: 3rem;
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.section-a-4 .contactus {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-a-4 .contactus h1 {
  font-size: 3rem;
  color: #333333;
  position: relative;
}
.section-a-4 .contactus h1::before {
  content: "";
  color: brown;
  background-color: brown;
  width: 40%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  bottom: -0.7rem;
  left: 0;
}
.section-a-4 .div-a-s4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.section-a-4 .div-a-s4 .form-a-s4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 100%;
  background: white;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  padding-inline: 4rem;
  padding-block: 3.5rem;
  gap: 0.8rem;
}
.section-a-4 .div-a-s4 .form-a-s4 h1 {
  font-size: 1.6rem;
  color: #333333;
  font-weight: 700;
  margin-bottom: 1rem;
}
.section-a-4 .div-a-s4 .form-a-s4 label {
  font-size: 0.95rem;
  color: #333333;
  font-weight: 700;
  margin-top: 0.5rem;
}
.section-a-4 .div-a-s4 .form-a-s4 input {
  height: 44px;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #999999;
  color: #999999;
  letter-spacing: 0.5px;
}
.section-a-4 .div-a-s4 .form-a-s4 textarea {
  height: 42px;
  font-size: 0.9rem;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #999999;
  color: #999999;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.section-a-4 .div-a-s4 .form-a-s4 a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 1rem;
}
.section-a-4 .div-a-s4 .form-a-s4 a button {
  border: none;
  outline: none;
  padding: 10px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
  padding-block: 15px;
  padding-inline: 25px;
  border-radius: 5px;
}
.section-a-4 .div-a-s4 .form-a-s4 a button:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
.section-a-4 .div-a-s4 .form-a-s4 a button p {
  font-size: 0.85rem;
  color: white;
}
.section-a-4 .div-a-s4 .form-a-s4 a button:hover p {
  color: #2C97FD;
}
.section-a-4 .div-a-s4 .needhelp {
  width: 45%;
  background-color: #1B2433;
  height: 75%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-inline: 2rem;
  padding-block: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.8rem;
  color: white;
  border-radius: 2px;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 h3 {
  font-size: 1.1rem;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-1 {
  border: none;
  outline: none;
  padding: 10px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
  padding-block: 14px;
  padding-inline: 25px;
  border-radius: 5px;
  width: 200px;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-1:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-1 p {
  font-size: 0.85rem;
  color: white;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-1 p i {
  color: white;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-1:hover i {
  color: #2C97FD;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-1:hover p {
  color: #2C97FD;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-2 {
  border: none;
  outline: none;
  padding: 10px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: white;
  border: 1.5px solid #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: #2C97FD;
  font-size: 0.95rem;
  font-weight: 700;
  padding-block: 14px;
  padding-inline: 25px;
  border-radius: 5px;
  width: 200px;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-2:hover {
  background-color: #2C97FD;
  color: white;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-2 p {
  font-size: 0.85rem;
  color: #2C97FD;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-2 p i {
  color: #2C97FD;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-2:hover i {
  color: white;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-2:hover p {
  color: white;
}
.section-a-4 .div-a-s4 .needhelp .visitus {
  height: 60%;
  border-top: 1px solid #3a4b6e;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.section-a-4 .div-a-s4 .needhelp .visitus h1 {
  font-size: 1.1rem;
}
.section-a-4 .div-a-s4 .needhelp .visitus .list-a-s4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.section-a-4 .div-a-s4 .needhelp .visitus .list-a-s4 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}
.section-a-4 .div-a-s4 .needhelp .visitus .list-a-s4 div h4 {
  font-size: 0.95rem;
  color: #2C97FD;
}
.section-a-4 .div-a-s4 .needhelp .visitus .list-a-s4 div h5 {
  font-size: 0.95rem;
  letter-spacing: 0.8px;
}
.section-a-4 .div-a-s4 .needhelp .visitus .list-a-s4 div ul {
  list-style: none;
}
.section-a-4 .div-a-s4 .needhelp .visitus .list-a-s4 div ul li {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section-a-4 {
    height: 117vh;
    padding-inline: 2rem;
    padding-block: 3rem;
    gap: 3rem;
  }
  .section-a-4 .contactus {
    gap: 1rem;
  }
  .section-a-4 .div-a-s4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-a-4 .div-a-s4 .form-a-s4 {
    height: 600px;
    width: 90%;
  }
  .section-a-4 .div-a-s4 .needhelp {
    height: 450px;
    width: 90%;
    right: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .section-a-4 {
    height: 128vh;
    padding-inline: 1.5rem;
    padding-block: 2rem;
    gap: 3rem;
  }
  .section-a-4 .contactus {
    gap: 1rem;
  }
  .section-a-4 .contactus h1 {
    font-size: 2.5rem;
  }
  .section-a-4 .div-a-s4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-a-4 .div-a-s4 .form-a-s4 {
    height: 490px;
    width: 100%;
    gap: 0.3rem;
    width: 100%;
    padding-inline: 1.5rem;
    border-radius: 5px;
    padding-block: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-a-4 .div-a-s4 .form-a-s4 h1 {
    font-size: 1.4rem;
  }
  .section-a-4 .div-a-s4 .form-a-s4 label {
    margin-bottom: 0.3rem;
  }
  .section-a-4 .div-a-s4 .form-a-s4 input {
    height: 42px;
    font-weight: 100;
    border: 0.8px solid #999999;
  }
  .section-a-4 .div-a-s4 .form-a-s4 textarea {
    font-weight: 100;
    border: 0.8px solid #999999;
  }
  .section-a-4 .div-a-s4 .form-a-s4 a {
    width: 100%;
  }
  .section-a-4 .div-a-s4 .form-a-s4 a button {
    width: 100%;
    padding-block: 12px;
  }
  .section-a-4 .div-a-s4 .needhelp {
    height: 300px;
    width: 100%;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    gap: 0.5rem;
  }
  .section-a-4 .div-a-s4 .needhelp .cta-a-s4 {
    gap: 0.5rem;
  }
  .section-a-4 .div-a-s4 .needhelp .cta-a-s4 h3 {
    font-size: 1rem;
  }
  .section-a-4 .div-a-s4 .needhelp .cta-a-s4 a {
    width: 100%;
  }
  .section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-1 {
    width: 100%;
    padding-block: 12px;
  }
  .section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-2 {
    width: 100%;
    padding-block: 12px;
  }
  .section-a-4 .div-a-s4 .needhelp .visitus {
    padding-top: 0.5rem;
    gap: 0.7rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50%;
    border: none;
  }
  .section-a-4 .div-a-s4 .needhelp .visitus h1 {
    font-size: 1rem;
  }
  .section-a-4 .div-a-s4 .needhelp .visitus .list-a-s4 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0;
  }
  .section-a-4 .div-a-s4 .needhelp .visitus .list-a-s4 div {
    gap: 0.5rem;
  }
  .section-a-4 .div-a-s4 .needhelp .visitus .list-a-s4 div h4 {
    font-size: 1rem;
  }
  .section-a-4 .div-a-s4 .needhelp .visitus .list-a-s4 div h5 {
    font-size: 0.9rem;
  }
  .section-a-4 .div-a-s4 .needhelp .visitus .list-a-s4 div ul li {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
}

.section-a-5 {
  height: 98vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.section-a-5 .svg-1 {
  position: absolute;
  top: 0;
}
.section-a-5 .svg-2 {
  position: absolute;
  bottom: 0;
}
.section-a-5 .div-a-s5 {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-inline: 5rem;
  padding-block: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2C97FD;
  position: relative;
}
.section-a-5 .div-a-s5 h1 {
  font-size: 3rem;
}
.section-a-5 .div-a-s5 .textarea-a-s5 {
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.section-a-5 .div-a-s5 .textarea-a-s5 .text-a-1-s5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8rem;
}
.section-a-5 .div-a-s5 .textarea-a-s5 .text-a-1-s5 div h2 {
  font-size: 2.8rem;
}
.section-a-5 .div-a-s5 .textarea-a-s5 .text-a-1-s5 div p {
  font-size: 0.9rem;
}
.section-a-5 .div-a-s5 .textarea-a-s5 .text-a-2-s5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8rem;
}
.section-a-5 .div-a-s5 .textarea-a-s5 .text-a-2-s5 div h2 {
  font-size: 2.8rem;
}
.section-a-5 .div-a-s5 .textarea-a-s5 .text-a-2-s5 div p {
  font-size: 0.9rem;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section-a-5 {
    height: 50vh;
  }
  .section-a-5 .div-a-s5 {
    padding-inline: 2rem;
    height: 50%;
  }
  .section-a-5 .div-a-s5 .textarea-a-s5 .text-a-1-s5 {
    gap: 3rem;
  }
  .section-a-5 .div-a-s5 .textarea-a-s5 .text-a-1-s5 div h2 {
    font-size: 2.3rem;
  }
  .section-a-5 .div-a-s5 .textarea-a-s5 .text-a-2-s5 {
    gap: 3rem;
  }
  .section-a-5 .div-a-s5 .textarea-a-s5 .text-a-2-s5 div h2 {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 767px) {
  .section-a-5 {
    height: 50vh;
  }
  .section-a-5 .div-a-s5 {
    padding-inline: 2rem;
    height: 50%;
    gap: 0.7rem;
    padding-block: 0;
  }
  .section-a-5 .div-a-s5 h1 {
    font-size: 2.3rem;
    text-align: center;
  }
  .section-a-5 .div-a-s5 .textarea-a-s5 {
    gap: 0.5rem;
  }
  .section-a-5 .div-a-s5 .textarea-a-s5 .text-a-1-s5 {
    gap: 1rem;
  }
  .section-a-5 .div-a-s5 .textarea-a-s5 .text-a-1-s5 div h2 {
    font-size: 2rem;
  }
  .section-a-5 .div-a-s5 .textarea-a-s5 .text-a-1-s5 div:nth-child(3) {
    display: none;
  }
  .section-a-5 .div-a-s5 .textarea-a-s5 .text-a-2-s5 {
    gap: 1rem;
  }
  .section-a-5 .div-a-s5 .textarea-a-s5 .text-a-2-s5 div h2 {
    font-size: 2rem;
  }
  .section-a-5 .div-a-s5 .textarea-a-s5 .text-a-2-s5 div:nth-child(3) {
    display: none;
  }
}

footer {
  background-color: #1B2433;
  padding-inline: 5rem;
  padding-block: 2rem;
  padding-bottom: 0;
  width: 100%;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .cfooter {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}
footer .cfooter .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.2rem;
  padding-right: 4rem;
  width: 400px;
}
footer .cfooter .newsletter .logo a div {
  width: 150px;
  height: 50px;
}
footer .cfooter .newsletter .logo a div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .cfooter .newsletter p {
  color: #999999;
  letter-spacing: 0.6px;
  line-height: 1.8;
  font-size: 0.85rem;
}
footer .cfooter .newsletter h3 {
  font-size: 1.3rem;
  color: white;
  margin-top: 0.5rem;
}
footer .cfooter .newsletter .subscribe {
  position: relative;
}
footer .cfooter .newsletter .subscribe input {
  background-color: #293241;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 13px;
  width: 350px;
  font-size: 0.85rem;
  color: white;
}
footer .cfooter .newsletter .subscribe .button-f {
  position: absolute;
  right: 0;
  top: 1.3px;
  color: white;
  font-weight: 200;
  border: none;
  outline: none;
  padding: 10px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
}
footer .cfooter .newsletter .subscribe .button-f:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
footer .cfooter .newsletter .subscribe .button-f:hover {
  color: #2C97FD;
  border: 1px;
}
footer .cfooter .footerlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}
footer .cfooter .footerlist .f-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
footer .cfooter .footerlist .f-list h3 {
  font-size: 1.2rem;
  letter-spacing: 0.6px;
  color: white;
}
footer .cfooter .footerlist .f-list ul {
  list-style: none;
}
footer .cfooter .footerlist .f-list ul li {
  margin-bottom: 1.5rem;
}
footer .cfooter .footerlist .f-list ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 0.9rem;
  letter-spacing: 0.6px;
}
footer .cfooter .footerlist .f-list ul li a:hover {
  text-decoration: underline;
}
footer .copyright {
  height: 100px;
  border-top: 1.3px solid #3a4b6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 1rem;
}
footer .copyright .copy-f p {
  color: #999999;
  letter-spacing: 0.6px;
  font-size: 0.8rem;
}
footer .copyright .socials-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  color: white;
  font-size: 1.3rem;
}
footer .copyright .socials-f div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}
footer .copyright .socials-f div i {
  font-size: 0.8rem;
}
footer .copyright .socials-f div:hover {
  background-color: white;
  color: #2C97FD;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  footer {
    padding-inline: 2rem;
    height: 38vh;
  }
  footer .cfooter {
    gap: 0rem;
  }
  footer .cfooter .newsletter {
    padding-right: 1rem;
    width: 390px;
  }
  footer .cfooter .footerlist {
    padding-top: 1rem;
  }
  footer .cfooter .footerlist .f-list ul li {
    margin-bottom: 0.8rem;
  }
}
@media screen and (max-width: 767px) {
  footer {
    height: 128vh;
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
    padding-bottom: 0.8rem;
  }
  footer .cfooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  footer .cfooter .newsletter {
    width: 100%;
    padding-right: 0;
  }
  footer .cfooter .newsletter p {
    width: 100%;
  }
  footer .cfooter .newsletter h3 {
    width: 100%;
  }
  footer .cfooter .newsletter .subscribe {
    width: 100%;
  }
  footer .cfooter .newsletter .subscribe input {
    width: 100%;
  }
  footer .cfooter .footerlist {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.5rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding-top: 0.4rem;
  }
  footer .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-right: 0rem;
    padding-block: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
  }
  footer .copyright .copy-f p {
    font-size: 0.78rem;
  }
}