html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  padding-inline: 5rem;
  background-color: #f7f7f7;
}
header .logo a div {
  width: 120px;
  height: 70px;
}
header .logo a div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .navlist ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
header .navlist ul li a {
  text-decoration: none;
  letter-spacing: 0.6px;
  font-weight: 700;
  font-size: 0.88rem;
  color: #333333;
  -webkit-transition: 600ms;
  transition: 600ms;
}
header .navlist ul li a:hover {
  color: #2C97FD;
}
header .searchbar input {
  padding: 8px;
  width: 200px;
  outline: none;
  border: 1.5px solid #2C97FD;
  border-radius: 30px;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
}
header .cta .signup {
  border: none;
  outline: none;
  padding: 12px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
  font-size: 0.88rem;
}
header .cta .signup:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
header .cta .login {
  border: none;
  outline: none;
  padding: 12px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: white;
  border: 1.5px solid #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: #2C97FD;
  font-size: 0.95rem;
  font-weight: 700;
  font-size: 0.88rem;
}
header .cta .login:hover {
  background-color: #2C97FD;
  color: white;
}

.section-a-1 {
  width: 100%;
  height: 60vh;
  background-color: #dde8ff;
  padding-inline: 5rem;
  padding-block: 3rem;
}
.section-a-1 .div-a-s1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-a-1 .div-a-s1 .textarea-a-s1 {
  width: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}
.section-a-1 .div-a-s1 .textarea-a-s1 h1 {
  font-size: 3rem;
  color: #333333;
  position: relative;
}
.section-a-1 .div-a-s1 .textarea-a-s1 h1::before {
  content: "";
  color: brown;
  background-color: brown;
  width: 20%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  bottom: -0.7rem;
  left: 0;
}
.section-a-1 .div-a-s1 .textarea-a-s1 p {
  font-size: 1rem;
  color: #333333;
  line-height: 2;
  font-weight: 600;
}
.section-a-1 .div-a-s1 .textarea-a-s1 p span {
  color: #2C97FD;
}
.section-a-1 .div-a-s1 .imgwrap-a-s1 {
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.section-a-1 .div-a-s1 .imgwrap-a-s1 div {
  width: 50%;
  height: 80%;
  overflow: hidden;
}
.section-a-1 .div-a-s1 .imgwrap-a-s1 div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-a-2 {
  width: 100%;
  height: 95vh;
  padding-block: 3rem;
  position: relative;
}
.section-a-2 .div-a-s2 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-inline: 5rem;
  gap: 3rem;
}
.section-a-2 .div-a-s2 .textarea-a-s2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-a-2 .div-a-s2 .textarea-a-s2 h1 {
  font-size: 3rem;
  color: #333333;
  position: relative;
}
.section-a-2 .div-a-s2 .textarea-a-s2 h1::before {
  content: "";
  color: brown;
  background-color: brown;
  width: 40%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  bottom: -0.7rem;
  left: 0;
}
.section-a-2 .div-a-s2 .textarea-a-s2 p {
  font-size: 1rem;
  color: #999999;
}
.section-a-2 .div-a-s2 .M-V {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 0.6rem;
}
.section-a-2 .div-a-s2 .M-V div {
  background-color: #dde8ff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  padding: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
}
.section-a-2 .div-a-s2 .M-V div h2 {
  font-size: 2rem;
  color: #333333;
  position: relative;
}
.section-a-2 .div-a-s2 .M-V div h2::before {
  content: "";
  color: brown;
  background-color: brown;
  width: 40%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  bottom: -0.7rem;
  left: 0;
}
.section-a-2 .div-a-s2 .M-V div p {
  font-size: 1rem;
  color: #999999;
  line-height: 2;
}
.section-a-2 .div-a-s2 .M-V div p span {
  color: #2C97FD;
}
.section-a-2 svg {
  position: absolute;
  bottom: 0;
}

.section-a-3 {
  width: 100%;
  height: 100vh;
  padding-inline: 5rem;
  padding-block: 3rem;
}
.section-a-3 .div-a-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}
.section-a-3 .div-a-s3 .textarea-a-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-a-3 .div-a-s3 .textarea-a-s3 h1 {
  font-size: 3rem;
  color: #333333;
  position: relative;
}
.section-a-3 .div-a-s3 .textarea-a-s3 h1::before {
  content: "";
  color: brown;
  background-color: brown;
  width: 40%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  bottom: -0.7rem;
  left: 0;
}
.section-a-3 .div-a-s3 .textarea-a-s3 p {
  font-size: 1rem;
  color: #999999;
}
.section-a-3 .div-a-s3 .grid-a-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 410px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-a-3 .div-a-s3 .grid-a-s3 .card-a-s3 {
  width: 350px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.section-a-3 .div-a-s3 .grid-a-s3 .card-a-s3 .imgwrap-a-s3 {
  height: 250px;
  width: 100%;
}
.section-a-3 .div-a-s3 .grid-a-s3 .card-a-s3 .imgwrap-a-s3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-a-3 .div-a-s3 .grid-a-s3 .card-a-s3 .text-a-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  padding: 0.8rem;
}
.section-a-3 .div-a-s3 .grid-a-s3 .card-a-s3 .text-a-s3 h3 {
  font-size: 1rem;
  color: #333333;
}
.section-a-3 .div-a-s3 .grid-a-s3 .card-a-s3 .text-a-s3 h2 {
  font-size: 1.4rem;
  color: #333333;
}
.section-a-3 .div-a-s3 .grid-a-s3 .card-a-s3 .text-a-s3 p {
  font-size: 0.9rem;
  color: #999999;
}
.section-a-3 .div-a-s3 .grid-a-s3 .card-a-s3 .text-a-s3 div {
  width: 40px;
  height: 40px;
  background-color: #2C97FD;
  color: white;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.section-a-4 {
  height: 115vh;
  width: 100%;
  padding-inline: 5rem;
  padding-block: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.section-a-4 .contactus {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-a-4 .contactus h1 {
  font-size: 3rem;
  color: #333333;
  position: relative;
}
.section-a-4 .contactus h1::before {
  content: "";
  color: brown;
  background-color: brown;
  width: 40%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  bottom: -0.7rem;
  left: 0;
}
.section-a-4 .div-a-s4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.section-a-4 .div-a-s4 .form-a-s4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 100%;
  background: white;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  padding-inline: 4rem;
  padding-block: 3.5rem;
  gap: 0.8rem;
}
.section-a-4 .div-a-s4 .form-a-s4 h1 {
  font-size: 1.6rem;
  color: #333333;
  font-weight: 700;
  margin-bottom: 1rem;
}
.section-a-4 .div-a-s4 .form-a-s4 label {
  font-size: 0.95rem;
  color: #333333;
  font-weight: 700;
  margin-top: 0.5rem;
}
.section-a-4 .div-a-s4 .form-a-s4 input {
  height: 44px;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #999999;
  color: #999999;
  letter-spacing: 0.5px;
}
.section-a-4 .div-a-s4 .form-a-s4 textarea {
  height: 42px;
  font-size: 0.9rem;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #999999;
  color: #999999;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.section-a-4 .div-a-s4 .form-a-s4 a {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 1rem;
}
.section-a-4 .div-a-s4 .form-a-s4 a button {
  border: none;
  outline: none;
  padding: 12px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
  padding-block: 15px;
  padding-inline: 25px;
  border-radius: 5px;
}
.section-a-4 .div-a-s4 .form-a-s4 a button:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
.section-a-4 .div-a-s4 .form-a-s4 a button p {
  font-size: 0.85rem;
  color: white;
}
.section-a-4 .div-a-s4 .form-a-s4 a button p i {
  color: white;
}
.section-a-4 .div-a-s4 .form-a-s4 a button:hover i {
  color: #2C97FD;
}
.section-a-4 .div-a-s4 .form-a-s4 a button:hover p {
  color: #2C97FD;
}
.section-a-4 .div-a-s4 .needhelp {
  width: 45%;
  background-color: #1B2433;
  height: 75%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-inline: 2rem;
  padding-block: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.8rem;
  color: white;
  border-radius: 2px;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 h3 {
  font-size: 1.1rem;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-1 {
  border: none;
  outline: none;
  padding: 12px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
  padding-block: 14px;
  padding-inline: 25px;
  border-radius: 5px;
  width: 200px;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-1:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-1 p {
  font-size: 0.85rem;
  color: white;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-1 p i {
  color: white;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-1:hover i {
  color: #2C97FD;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-1:hover p {
  color: #2C97FD;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-2 {
  border: none;
  outline: none;
  padding: 12px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: white;
  border: 1.5px solid #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: #2C97FD;
  font-size: 0.95rem;
  font-weight: 700;
  padding-block: 14px;
  padding-inline: 25px;
  border-radius: 5px;
  width: 200px;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-2:hover {
  background-color: #2C97FD;
  color: white;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-2 p {
  font-size: 0.85rem;
  color: #2C97FD;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-2 p i {
  color: #2C97FD;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-2:hover i {
  color: white;
}
.section-a-4 .div-a-s4 .needhelp .cta-a-s4 a .btn-2:hover p {
  color: white;
}
.section-a-4 .div-a-s4 .needhelp .visitus {
  height: 60%;
  border-top: 1px solid #3a4b6e;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.section-a-4 .div-a-s4 .needhelp .visitus h1 {
  font-size: 1.1rem;
}
.section-a-4 .div-a-s4 .needhelp .visitus .list-a-s4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.section-a-4 .div-a-s4 .needhelp .visitus .list-a-s4 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}
.section-a-4 .div-a-s4 .needhelp .visitus .list-a-s4 div h4 {
  font-size: 0.95rem;
  color: #2C97FD;
}
.section-a-4 .div-a-s4 .needhelp .visitus .list-a-s4 div h5 {
  font-size: 0.95rem;
  letter-spacing: 0.8px;
}
.section-a-4 .div-a-s4 .needhelp .visitus .list-a-s4 div ul {
  list-style: none;
}
.section-a-4 .div-a-s4 .needhelp .visitus .list-a-s4 div ul li {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
}

footer {
  background-color: #1B2433;
  padding-inline: 5rem;
  padding-block: 2rem;
  padding-bottom: 0;
  width: 100%;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .cfooter {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}
footer .cfooter .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.2rem;
  padding-right: 4rem;
  width: 400px;
}
footer .cfooter .newsletter .logo a div {
  width: 150px;
  height: 50px;
}
footer .cfooter .newsletter .logo a div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .cfooter .newsletter p {
  color: #999999;
  letter-spacing: 0.6px;
  line-height: 1.8;
  font-size: 0.85rem;
}
footer .cfooter .newsletter h3 {
  font-size: 1.4rem;
  color: white;
  margin-top: 0.5rem;
}
footer .cfooter .newsletter .subscribe {
  position: relative;
}
footer .cfooter .newsletter .subscribe input {
  background-color: #293241;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 13px;
  width: 350px;
  font-size: 0.85rem;
  color: white;
}
footer .cfooter .newsletter .subscribe .button-f {
  position: absolute;
  right: 0;
  top: 1.3px;
  color: white;
  font-weight: 200;
  border: none;
  outline: none;
  padding: 12px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
}
footer .cfooter .newsletter .subscribe .button-f:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
footer .cfooter .newsletter .subscribe .button-f:hover {
  color: #2C97FD;
  border: 1px;
}
footer .cfooter .footerlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}
footer .cfooter .footerlist .f-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
footer .cfooter .footerlist .f-list h3 {
  font-size: 1.2rem;
  letter-spacing: 0.6px;
  color: white;
}
footer .cfooter .footerlist .f-list ul {
  list-style: none;
}
footer .cfooter .footerlist .f-list ul li {
  margin-bottom: 1.5rem;
}
footer .cfooter .footerlist .f-list ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 0.9rem;
  letter-spacing: 0.6px;
}
footer .cfooter .footerlist .f-list ul li a:hover {
  text-decoration: underline;
}
footer .copyright {
  height: 100px;
  border-top: 1.3px solid #3a4b6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 1rem;
}
footer .copyright .copy-f p {
  color: #999999;
  letter-spacing: 0.6px;
  font-weight: 700;
  font-size: 0.8rem;
}
footer .copyright .socials-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  color: white;
  font-size: 1.3rem;
}
footer .copyright .socials-f div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}