html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  padding-inline: 5rem;
  background-color: #f7f7f7;
}
header .logo a div {
  width: 120px;
  height: 70px;
}
header .logo a div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .navlist ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.3rem;
  list-style: none;
}
header .navlist ul li a {
  text-decoration: none;
  letter-spacing: 0.6px;
  font-weight: 700;
  font-size: 0.88rem;
  color: #333333;
  -webkit-transition: 800ms;
  transition: 800ms;
  position: relative;
  overflow: hidden;
}
header .navlist ul li a:hover {
  color: #2C97FD;
}
header .navlist ul li a::before {
  content: "";
  height: 3px;
  border-radius: 2px;
  width: 100%;
  position: absolute;
  bottom: -0.3rem;
  left: -100%;
  background-color: #2C97FD;
  -webkit-transition: 800ms;
  transition: 800ms;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}
header .navlist ul li a:hover::before {
  left: 0;
  -webkit-transition: 800ms;
  transition: 800ms;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
header .searchbar input {
  padding: 8px;
  width: 250px;
  outline: none;
  border: 1.5px solid #2C97FD;
  border-radius: 30px;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
}
header .search-icon {
  display: none;
}
header .cta .signup {
  border: none;
  outline: none;
  padding: 10px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
  font-size: 0.88rem;
}
header .cta .signup:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
header .cta .login {
  border: none;
  outline: none;
  padding: 10px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: white;
  border: 1.5px solid #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: #2C97FD;
  font-size: 0.95rem;
  font-weight: 700;
  font-size: 0.88rem;
}
header .cta .login:hover {
  background-color: #2C97FD;
  color: white;
}
header .hamburger {
  display: none;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  header {
    height: 80px;
    padding-inline: 2rem;
  }
  header .logo a div {
    width: 100px;
  }
  header .navlist {
    display: none;
  }
  header .searchbar input {
    width: 250px;
  }
  header .search-icon {
    display: none;
  }
  header .hamburger {
    display: block;
    cursor: pointer;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  header .hamburger i {
    font-size: 1.8rem;
  }
  header .hamburger i:hover {
    color: #2C97FD;
  }
}
@media screen and (max-width: 767px) {
  header {
    height: 53px;
    padding-inline: 1.5rem;
  }
  header .logo a div {
    width: 100px;
  }
  header .navlist {
    display: none;
  }
  header .searchbar {
    display: none;
  }
  header .search-icon {
    display: block;
    cursor: pointer;
  }
  header .search-icon i {
    font-size: 1.6rem;
    color: #333333;
    cursor: pointer;
  }
  header .cta {
    display: none;
  }
  header .hamburger {
    display: block;
    cursor: pointer;
  }
  header .hamburger i {
    font-size: 1.7rem;
    color: #333333;
    cursor: pointer;
  }
  header .hamburger i:hover {
    color: #2C97FD;
  }
}

.mobile-navbar {
  display: none;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .mobile-navbar {
    display: block;
    height: 100vh;
    width: 50%;
    padding-block: 2rem;
    padding-inline: 2rem;
    position: fixed;
    top: 0;
    z-index: 50;
    left: -100%;
    -webkit-transition: 800ms;
    transition: 800ms;
  }
  .mobile-navbar .content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 6rem;
  }
  .mobile-navbar .content .close-m i {
    font-size: 3rem;
    cursor: pointer;
    -webkit-transition: 600ms;
    transition: 600ms;
  }
  .mobile-navbar .content .close-m i:hover {
    color: #2C97FD;
  }
  .mobile-navbar .content .logo-m a div {
    width: 200px;
    height: 120px;
  }
  .mobile-navbar .content .logo-m a div img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mobile-navbar .content .navlist-m ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.8rem;
    list-style: none;
  }
  .mobile-navbar .content .navlist-m ul li {
    text-align: center;
  }
  .mobile-navbar .content .navlist-m ul li a {
    text-decoration: none;
    letter-spacing: 0.6px;
    font-weight: 700;
    font-size: 1.3rem;
    color: #333333;
    -webkit-transition: 600ms;
    transition: 600ms;
  }
  .mobile-navbar .content .navlist-m ul li a:hover {
    color: #2C97FD;
  }
  .mobile-navbar .content .cta-m .signup {
    border: none;
    outline: none;
    padding: 10px;
    padding-inline: 35px;
    border-radius: 35px;
    background-color: #2C97FD;
    -webkit-transition: 500ms;
    transition: 500ms;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 0.95rem;
    font-weight: 700;
    font-size: 0.88rem;
  }
  .mobile-navbar .content .cta-m .signup:hover {
    background-color: white;
    border: 1.5px solid #2C97FD;
    color: #2C97FD;
  }
  .mobile-navbar .content .cta-m .login {
    border: none;
    outline: none;
    padding: 10px;
    padding-inline: 35px;
    border-radius: 35px;
    background-color: white;
    border: 1.5px solid #2C97FD;
    -webkit-transition: 500ms;
    transition: 500ms;
    cursor: pointer;
    text-decoration: none;
    color: #2C97FD;
    font-size: 0.95rem;
    font-weight: 700;
    font-size: 0.88rem;
  }
  .mobile-navbar .content .cta-m .login:hover {
    background-color: #2C97FD;
    color: white;
  }
}
@media screen and (max-width: 767px) {
  .mobile-navbar {
    display: block;
    height: 100vh;
    width: 100%;
    padding-block: 2rem;
    padding-inline: 2rem;
    position: fixed;
    top: 0;
    z-index: 50;
    left: -100%;
    -webkit-transition: 800ms;
    transition: 800ms;
  }
  .mobile-navbar .content {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: flex start;
        -ms-flex-align: flex start;
            align-items: flex start;
    gap: 4rem;
  }
  .mobile-navbar .content .close-m i {
    font-size: 2rem;
    cursor: pointer;
    -webkit-transition: 600ms;
    transition: 600ms;
  }
  .mobile-navbar .content .close-m i:hover {
    color: #2C97FD;
  }
  .mobile-navbar .content .logo-m {
    width: 120px;
    height: 70px;
  }
  .mobile-navbar .content .logo-m a div {
    width: 120px;
    height: 70px;
  }
  .mobile-navbar .content .logo-m a div img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mobile-navbar .content .navlist-m ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.8rem;
    list-style: none;
  }
  .mobile-navbar .content .navlist-m ul li a {
    text-decoration: none;
    letter-spacing: 0.6px;
    font-weight: 700;
    font-size: 0.95rem;
    color: #333333;
    -webkit-transition: 600ms;
    transition: 600ms;
  }
  .mobile-navbar .content .navlist-m ul li a:hover {
    color: #2C97FD;
  }
  .mobile-navbar .content .cta-m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
  }
  .mobile-navbar .content .cta-m .signup {
    border: none;
    outline: none;
    padding: 10px;
    padding-inline: 35px;
    border-radius: 35px;
    background-color: #2C97FD;
    -webkit-transition: 500ms;
    transition: 500ms;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 0.95rem;
    font-weight: 700;
    font-size: 0.88rem;
    padding-inline: 38px;
  }
  .mobile-navbar .content .cta-m .signup:hover {
    background-color: white;
    border: 1.5px solid #2C97FD;
    color: #2C97FD;
  }
  .mobile-navbar .content .cta-m .login {
    border: none;
    outline: none;
    padding: 10px;
    padding-inline: 35px;
    border-radius: 35px;
    background-color: white;
    border: 1.5px solid #2C97FD;
    -webkit-transition: 500ms;
    transition: 500ms;
    cursor: pointer;
    text-decoration: none;
    color: #2C97FD;
    font-size: 0.95rem;
    font-weight: 700;
    font-size: 0.88rem;
    padding-inline: 38px;
  }
  .mobile-navbar .content .cta-m .login:hover {
    background-color: #2C97FD;
    color: white;
  }
}

.section-h-1 {
  height: auto;
  padding-inline: 5rem;
  width: 100%;
  padding-block: 3rem;
  padding-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.section-h-1 .div-h-s1 {
  width: 100%;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
}
.section-h-1 .div-h-s1 .imgwrap-h-s1 {
  height: 100%;
  width: 45%;
}
.section-h-1 .div-h-s1 .imgwrap-h-s1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-h-1 .div-h-s1 .textarea-h-s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  width: 55%;
}
.section-h-1 .div-h-s1 .textarea-h-s1 h2 {
  font-size: 2.5rem;
  color: #1B2433;
}
.section-h-1 .div-h-s1 .textarea-h-s1 p {
  font-size: 0.95rem;
  color: #999999;
  line-height: 1.8;
  text-align: justify;
}
.section-h-1 .borderbottom {
  height: 40px;
  width: 100%;
  background-color: #1B2433;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section-h-1 {
    height: 90vh;
    padding-inline: 2rem;
    padding-block: 2rem;
  }
  .section-h-1 .div-h-s1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .section-h-1 .div-h-s1 .imgwrap-h-s1 {
    width: 100%;
    height: 520px;
  }
  .section-h-1 .div-h-s1 .textarea-h-s1 {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .section-h-1 {
    height: 140vh;
    padding-inline: 1.5rem;
    padding-block: 2rem;
  }
  .section-h-1 .div-h-s1 {
    gap: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .section-h-1 .div-h-s1 .imgwrap-h-s1 {
    width: 100%;
    height: 300px;
  }
  .section-h-1 .div-h-s1 .textarea-h-s1 {
    width: 100%;
  }
  .section-h-1 .div-h-s1 .textarea-h-s1 p {
    line-height: 1.5;
  }
}

.section-h-2 {
  height: auto;
  width: 100%;
  padding-inline: 5rem;
  padding-block: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.section-h-2 .div-h-s2 {
  width: 100%;
  height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  padding-top: 1rem;
}
.section-h-2 .div-h-s2 .imgwrap-h-s2 {
  width: 45%;
  height: 350px;
  border: 2px solid #2C97FD;
  border-radius: 5px;
  overflow: hidden;
}
.section-h-2 .div-h-s2 .imgwrap-h-s2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-h-2 .div-h-s2 .textarea-h-s2 {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.section-h-2 .div-h-s2 .textarea-h-s2 h2 {
  font-size: 2.2rem;
  color: #2C97FD;
}
.section-h-2 .div-h-s2 .textarea-h-s2 .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-h-2 .div-h-s2 .textarea-h-s2 .rating h3 {
  color: #333333;
  font-size: 1rem;
}
.section-h-2 .div-h-s2 .textarea-h-s2 .rating p {
  color: goldenrod;
}
.section-h-2 .div-h-s2 .textarea-h-s2 p {
  font-size: 0.95rem;
  text-align: justify;
  color: #999999;
  line-height: 1.8;
}
.section-h-2 .div-h-s2 .textarea-h-s2 ul {
  list-style: none;
  list-style-position: inside;
}
.section-h-2 .div-h-s2 .textarea-h-s2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}
.section-h-2 .div-h-s2 .textarea-h-s2 ul li i {
  color: #2C97FD;
}
.section-h-2 .div-h-s2 .textarea-h-s2 ul li p {
  font-size: 0.95rem;
  text-align: justify;
  color: #333333;
}
.section-h-2 .div-h-s2 .textarea-h-s2 a {
  text-decoration: none;
  color: #2C97FD;
  font-size: 0.95rem;
}
.section-h-2 .div-h-s2 .textarea-h-s2 a:hover {
  text-decoration: underline;
}
.section-h-2 .div-h-s2 .textarea-h-s2 button {
  border: none;
  outline: none;
  padding: 10px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
  font-size: 0.88rem;
  margin-top: 1rem;
}
.section-h-2 .div-h-s2 .textarea-h-s2 button:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
.section-h-2 .borderbottom {
  height: 40px;
  width: 100%;
  background-color: #1B2433;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section-h-2 {
    padding-inline: 2rem;
    height: 60vh;
  }
  .section-h-2 .div-h-s2 {
    height: 50vh;
  }
  .section-h-2 .div-h-s2 .textarea-h-s2 {
    -webkit-box-pack: first baseline;
        -ms-flex-pack: first baseline;
            justify-content: first baseline;
    gap: 1.2rem;
  }
}

.section-h-3 {
  height: auto;
  width: 100%;
  padding-inline: 5rem;
  padding-block: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.section-h-3 .div-h-s2 {
  width: 100%;
  height: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  padding-top: 1rem;
}
.section-h-3 .div-h-s2 .imgwrap-h-s2 {
  width: 45%;
  height: 350px;
  border: 2px solid #2C97FD;
  border-radius: 5px;
  overflow: hidden;
}
.section-h-3 .div-h-s2 .imgwrap-h-s2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-h-3 .div-h-s2 .textarea-h-s2 {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.section-h-3 .div-h-s2 .textarea-h-s2 h2 {
  font-size: 2.2rem;
  color: #2C97FD;
}
.section-h-3 .div-h-s2 .textarea-h-s2 .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-h-3 .div-h-s2 .textarea-h-s2 .rating h3 {
  color: #333333;
  font-size: 1rem;
}
.section-h-3 .div-h-s2 .textarea-h-s2 .rating p {
  color: goldenrod;
}
.section-h-3 .div-h-s2 .textarea-h-s2 p {
  font-size: 0.95rem;
  text-align: justify;
  color: #999999;
  line-height: 1.8;
}
.section-h-3 .div-h-s2 .textarea-h-s2 ul {
  list-style: none;
  list-style-position: inside;
}
.section-h-3 .div-h-s2 .textarea-h-s2 ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8rem;
}
.section-h-3 .div-h-s2 .textarea-h-s2 ul li i {
  color: #2C97FD;
}
.section-h-3 .div-h-s2 .textarea-h-s2 ul li p {
  font-size: 0.95rem;
  text-align: justify;
  color: #333333;
}
.section-h-3 .div-h-s2 .textarea-h-s2 a {
  text-decoration: none;
  color: #2C97FD;
  font-size: 0.95rem;
}
.section-h-3 .div-h-s2 .textarea-h-s2 a:hover {
  text-decoration: underline;
}
.section-h-3 .div-h-s2 .textarea-h-s2 button {
  border: none;
  outline: none;
  padding: 10px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
  font-size: 0.88rem;
  margin-top: 1rem;
}
.section-h-3 .div-h-s2 .textarea-h-s2 button:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
.section-h-3 .borderbottom {
  height: 40px;
  width: 100%;
  background-color: #1B2433;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.section-h-3 .div-h-s2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  .section-h-3 {
    padding-inline: 2rem;
    height: 60vh;
  }
  .section-h-3 .div-h-s2 {
    height: 50vh;
  }
  .section-h-3 .div-h-s2 .textarea-h-s2 {
    -webkit-box-pack: first baseline;
        -ms-flex-pack: first baseline;
            justify-content: first baseline;
    gap: 1.2rem;
  }
  .section-h-3 .div-h-s2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

footer {
  background-color: #1B2433;
  padding-inline: 5rem;
  padding-block: 2rem;
  padding-bottom: 0;
  width: 100%;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .cfooter {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}
footer .cfooter .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.2rem;
  padding-right: 4rem;
  width: 400px;
}
footer .cfooter .newsletter .logo a div {
  width: 150px;
  height: 50px;
}
footer .cfooter .newsletter .logo a div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .cfooter .newsletter p {
  color: #999999;
  letter-spacing: 0.6px;
  line-height: 1.8;
  font-size: 0.85rem;
}
footer .cfooter .newsletter h3 {
  font-size: 1.3rem;
  color: white;
  margin-top: 0.5rem;
}
footer .cfooter .newsletter .subscribe {
  position: relative;
}
footer .cfooter .newsletter .subscribe input {
  background-color: #293241;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 13px;
  width: 350px;
  font-size: 0.85rem;
  color: white;
}
footer .cfooter .newsletter .subscribe .button-f {
  position: absolute;
  right: 0;
  top: 1.3px;
  color: white;
  font-weight: 200;
  border: none;
  outline: none;
  padding: 10px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
}
footer .cfooter .newsletter .subscribe .button-f:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
footer .cfooter .newsletter .subscribe .button-f:hover {
  color: #2C97FD;
  border: 1px;
}
footer .cfooter .footerlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}
footer .cfooter .footerlist .f-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
footer .cfooter .footerlist .f-list h3 {
  font-size: 1.2rem;
  letter-spacing: 0.6px;
  color: white;
}
footer .cfooter .footerlist .f-list ul {
  list-style: none;
}
footer .cfooter .footerlist .f-list ul li {
  margin-bottom: 1.5rem;
}
footer .cfooter .footerlist .f-list ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 0.9rem;
  letter-spacing: 0.6px;
}
footer .cfooter .footerlist .f-list ul li a:hover {
  text-decoration: underline;
}
footer .copyright {
  height: 100px;
  border-top: 1.3px solid #3a4b6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 1rem;
}
footer .copyright .copy-f p {
  color: #999999;
  letter-spacing: 0.6px;
  font-size: 0.8rem;
}
footer .copyright .socials-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  color: white;
  font-size: 1.3rem;
}
footer .copyright .socials-f div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}
footer .copyright .socials-f div i {
  font-size: 0.8rem;
}
footer .copyright .socials-f div:hover {
  background-color: white;
  color: #2C97FD;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  footer {
    padding-inline: 2rem;
    height: 38vh;
  }
  footer .cfooter {
    gap: 0rem;
  }
  footer .cfooter .newsletter {
    padding-right: 1rem;
    width: 390px;
  }
  footer .cfooter .footerlist {
    padding-top: 1rem;
  }
  footer .cfooter .footerlist .f-list ul li {
    margin-bottom: 0.8rem;
  }
}
@media screen and (max-width: 767px) {
  footer {
    height: 128vh;
    padding-inline: 1.5rem;
    padding-block: 1.5rem;
    padding-bottom: 0.8rem;
  }
  footer .cfooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  footer .cfooter .newsletter {
    width: 100%;
    padding-right: 0;
  }
  footer .cfooter .newsletter p {
    width: 100%;
  }
  footer .cfooter .newsletter h3 {
    width: 100%;
  }
  footer .cfooter .newsletter .subscribe {
    width: 100%;
  }
  footer .cfooter .newsletter .subscribe input {
    width: 100%;
  }
  footer .cfooter .footerlist {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.5rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    padding-top: 0.4rem;
  }
  footer .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-right: 0rem;
    padding-block: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
  }
  footer .copyright .copy-f p {
    font-size: 0.78rem;
  }
}