html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  padding-inline: 5rem;
  background-color: #f7f7f7;
}
header .logo a div {
  width: 120px;
  height: 70px;
}
header .logo a div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .navlist ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
header .navlist ul li a {
  text-decoration: none;
  letter-spacing: 0.6px;
  font-weight: 700;
  font-size: 0.88rem;
  color: #333333;
  -webkit-transition: 600ms;
  transition: 600ms;
}
header .navlist ul li a:hover {
  color: #2C97FD;
}
header .searchbar input {
  padding: 8px;
  width: 200px;
  outline: none;
  border: 1.5px solid #2C97FD;
  border-radius: 30px;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
}
header .cta .signup {
  border: none;
  outline: none;
  padding: 12px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
  font-size: 0.88rem;
}
header .cta .signup:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
header .cta .login {
  border: none;
  outline: none;
  padding: 12px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: white;
  border: 1.5px solid #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: #2C97FD;
  font-size: 0.95rem;
  font-weight: 700;
  font-size: 0.88rem;
}
header .cta .login:hover {
  background-color: #2C97FD;
  color: white;
}

.section-1 {
  width: 100%;
  height: 90vh;
  background-color: #dde8ff;
  padding-inline: 5rem;
  padding-block: 3rem;
}
.section-1 .div-s1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-1 .div-s1 .textarea-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  width: 500px;
}
.section-1 .div-s1 .textarea-1 p {
  font-size: 1.3rem;
  font-weight: 200;
  color: #333333;
  line-height: 1.5;
  letter-spacing: 0.6px;
}
.section-1 .div-s1 .textarea-1 p .ri-heart-fill {
  color: red;
  font-size: 1.2rem;
  margin-right: 0.2rem;
}
.section-1 .div-s1 .textarea-1 h1 {
  font-size: 2.8rem;
  color: #333333;
  margin-bottom: 1rem;
}
.section-1 .div-s1 .textarea-1 .second-p {
  width: 80%;
  line-height: 1.8;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.section-1 .div-s1 .textarea-1 .cta-s1 {
  margin-bottom: 0.5rem;
}
.section-1 .div-s1 .textarea-1 .cta-s1 .button1-s1 {
  border: none;
  outline: none;
  padding: 12px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
  padding-block: 8px;
  padding-inline: 25px;
}
.section-1 .div-s1 .textarea-1 .cta-s1 .button1-s1:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
.section-1 .div-s1 .textarea-1 .cta-s1 .button1-s1 p {
  font-size: 0.85rem;
  color: white;
}
.section-1 .div-s1 .textarea-1 .cta-s1 .button1-s1 p i {
  color: white;
}
.section-1 .div-s1 .textarea-1 .cta-s1 .button1-s1:hover i {
  color: #2C97FD;
}
.section-1 .div-s1 .textarea-1 .cta-s1 .button1-s1:hover p {
  color: #2C97FD;
}
.section-1 .div-s1 .textarea-1 .cta-s1 .button2-s1 {
  border: none;
  outline: none;
  padding: 12px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: white;
  border: 1.5px solid #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: #2C97FD;
  font-size: 0.95rem;
  font-weight: 700;
  padding-block: 8px;
  padding-inline: 25px;
}
.section-1 .div-s1 .textarea-1 .cta-s1 .button2-s1:hover {
  background-color: #2C97FD;
  color: white;
}
.section-1 .div-s1 .textarea-1 .cta-s1 .button2-s1 p {
  font-size: 0.85rem;
  color: #2C97FD;
}
.section-1 .div-s1 .textarea-1 .cta-s1 .button2-s1 p i {
  color: #2C97FD;
}
.section-1 .div-s1 .textarea-1 .cta-s1 .button2-s1:hover i {
  color: white;
}
.section-1 .div-s1 .textarea-1 .cta-s1 .button2-s1:hover p {
  color: white;
}
.section-1 .div-s1 .textarea-1 .grid-s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  gap: 1.5rem;
}
.section-1 .div-s1 .textarea-1 .grid-s1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.section-1 .div-s1 .textarea-1 .grid-s1 div h2 {
  color: #2C97FD;
  font-size: 1.3rem;
}
.section-1 .div-s1 .textarea-1 .grid-s1 div p {
  font-size: 0.85rem;
}
.section-1 .div-s1 .imgwrap-s1 {
  width: 700px;
  height: 100%;
  position: relative;
}
.section-1 .div-s1 .imgwrap-s1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-1 .div-s1 .imgwrap-s1 .miniTextarea {
  width: 260px;
  height: 235px;
  position: absolute;
  left: -3rem;
  top: 38%;
  background-color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  gap: 1rem;
  -webkit-box-shadow: 0px 0px 15px rgba(70, 93, 226, 0.6);
          box-shadow: 0px 0px 15px rgba(70, 93, 226, 0.6);
}
.section-1 .div-s1 .imgwrap-s1 .miniTextarea .step-s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9rem;
  width: 100%;
}
.section-1 .div-s1 .imgwrap-s1 .miniTextarea .step-s1 .icon-1, .section-1 .div-s1 .imgwrap-s1 .miniTextarea .step-s1 .icon-1i, .section-1 .div-s1 .imgwrap-s1 .miniTextarea .step-s1 .icon-1ii {
  width: 50px;
  height: 30px;
  border-radius: 50%;
  background-color: #C7D3F6;
  color: #7B98E8;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.section-1 .div-s1 .imgwrap-s1 .miniTextarea .step-s1 .icon-1i {
  background-color: #A1DED9;
  color: #3DC0B6;
}
.section-1 .div-s1 .imgwrap-s1 .miniTextarea .step-s1 .icon-1ii {
  background-color: #D2DAA9;
  color: #A7AA47;
}
.section-1 .div-s1 .imgwrap-s1 .miniTextarea .step-s1 .text-s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.4rem;
}
.section-1 .div-s1 .imgwrap-s1 .miniTextarea .step-s1 .text-s1 h3 {
  font-size: 0.75rem;
  color: #333333;
}
.section-1 .div-s1 .imgwrap-s1 .miniTextarea .step-s1 .text-s1 p {
  font-size: 0.7rem;
  color: #999999;
}
.section-1 .div-s1 .imgwrap-s1 .miniTextarea .cta-1-s1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.section-1 .div-s1 .imgwrap-s1 .miniTextarea .cta-1-s1 .button3-s1 {
  border: none;
  outline: none;
  padding: 12px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
  padding-block: 8px;
  padding-inline: 25px;
}
.section-1 .div-s1 .imgwrap-s1 .miniTextarea .cta-1-s1 .button3-s1:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
.section-1 .div-s1 .imgwrap-s1 .miniTextarea .cta-1-s1 .button3-s1 p {
  font-size: 0.7rem;
  color: white;
}
.section-1 .div-s1 .imgwrap-s1 .miniTextarea .cta-1-s1 .button3-s1:hover p {
  color: #2C97FD;
}

.section-2 {
  width: 100%;
  height: 125vh;
  padding-inline: 5rem;
  padding-block: 2rem;
}
.section-2 .div-s2 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.section-2 .div-s2 .textarea-2 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
.section-2 .div-s2 .textarea-2 h1 {
  font-size: 3.3rem;
  color: #333333;
  position: relative;
}
.section-2 .div-s2 .textarea-2 h1::before {
  content: "";
  color: brown;
  background-color: brown;
  width: 50%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  bottom: -0.7rem;
  left: 0;
}
.section-2 .div-s2 .textarea-2 p {
  color: #999999;
  font-weight: 700;
  font-size: 0.9rem;
  width: 60%;
  line-height: 1.5;
}
.section-2 .div-s2 .grid-s2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.section-2 .div-s2 .grid-s2 .card-s2 {
  width: 350px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-inline: 0.7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 0.8rem;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 8px rgba(70, 93, 226, 0.6);
          box-shadow: 0px 0px 8px rgba(70, 93, 226, 0.6);
}
.section-2 .div-s2 .grid-s2 .card-s2 .imgwrap-s2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.section-2 .div-s2 .grid-s2 .card-s2 .imgwrap-s2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-2 .div-s2 .grid-s2 .card-s2 h3 {
  font-size: 1.3rem;
  color: #333333;
  letter-spacing: 0.7px;
}
.section-2 .div-s2 .grid-s2 .card-s2 p {
  font-size: 0.9rem;
  color: #999999;
}
.section-2 .div-s2 .grid-s2 .card-s2 a button {
  padding: 10px;
  padding-inline: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #2C97FD;
  color: white;
  border-radius: 30px;
  font-size: 1.5rem;
  -webkit-transition: 600ms;
  transition: 600ms;
}
.section-2 .div-s2 .grid-s2 .card-s2 a button:hover {
  background-color: white;
  color: #2C97FD;
  border: 1.5px solid #2C97FD;
}

.section-3 {
  background-color: #dde8ff;
  height: 100vh;
  padding-block: 3rem;
  position: relative;
}
.section-3 svg {
  position: absolute;
  bottom: 0;
}
.section-3 .div-s3 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-inline: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3rem;
}
.section-3 .div-s3 .imgwrap-s3 {
  width: 500px;
  height: 100%;
  border-radius: 40px;
  position: relative;
}
.section-3 .div-s3 .imgwrap-s3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-3 .div-s3 .imgwrap-s3 .minitext-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  gap: 0.9rem;
  background-color: white;
  -webkit-box-shadow: 0 0 4px #2C97FD;
          box-shadow: 0 0 4px #2C97FD;
  z-index: 2;
  position: absolute;
  right: -4rem;
  bottom: 3rem;
  width: 230px;
  height: 260px;
  border-radius: 30px;
}
.section-3 .div-s3 .imgwrap-s3 .minitext-s3 .toptext-s3 h3 {
  color: #333333;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.section-3 .div-s3 .imgwrap-s3 .minitext-s3 .toptext-s3 p {
  color: #999999;
  font-size: 0.9rem;
  font-weight: 700;
}
.section-3 .div-s3 .imgwrap-s3 .minitext-s3 .column-s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-3 .div-s3 .imgwrap-s3 .minitext-s3 .column-s3 .icon-s3 {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
}
.section-3 .div-s3 .imgwrap-s3 .minitext-s3 .column-s3 .icon-s3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.section-3 .div-s3 .imgwrap-s3 .minitext-s3 .column-s3 .icon-s3 .greendot {
  position: absolute;
  bottom: 0.8rem;
  right: -0.2rem;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #20e420;
  z-index: 3;
}
.section-3 .div-s3 .imgwrap-s3 .minitext-s3 .column-s3 .writeup-s3 h4 {
  font-size: 1rem;
  color: #333333;
  margin-bottom: 0.3rem;
}
.section-3 .div-s3 .imgwrap-s3 .minitext-s3 .column-s3 .writeup-s3 p {
  color: #999999;
  font-size: 0.9rem;
  font-weight: 700;
}
.section-3 .div-s3 .imgwrap-s3 .minitext-s3 .cta-s3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.section-3 .div-s3 .imgwrap-s3 .minitext-s3 .cta-s3 a button {
  border: none;
  outline: none;
  padding: 12px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
  padding-block: 8px;
  padding-inline: 25px;
}
.section-3 .div-s3 .imgwrap-s3 .minitext-s3 .cta-s3 a button:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
.section-3 .div-s3 .imgwrap-s3 .minitext-s3 .cta-s3 a button p {
  font-size: 0.7rem;
  color: white;
}
.section-3 .div-s3 .imgwrap-s3 .minitext-s3 .cta-s3 a button:hover p {
  color: #2C97FD;
}
.section-3 .div-s3 .textarea-s3 {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding-block: 2rem;
}
.section-3 .div-s3 .textarea-s3 h1 {
  font-size: 2.5rem;
  color: #333333;
  position: relative;
}
.section-3 .div-s3 .textarea-s3 h1::before {
  content: "";
  color: brown;
  background-color: brown;
  width: 40%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  bottom: -1rem;
  left: 0;
}
.section-3 .div-s3 .textarea-s3 h1 span {
  color: #2C97FD;
}
.section-3 .div-s3 .textarea-s3 p {
  font-size: 0.93rem;
  color: #999999;
  line-height: 2;
  font-weight: 700;
}
.section-3 .div-s3 .textarea-s3 ul li {
  list-style: none;
  margin-bottom: 0.7rem;
}
.section-3 .div-s3 .textarea-s3 ul li p {
  color: #333333;
  font-size: 1.1rem;
}
.section-3 .div-s3 .textarea-s3 ul li p i {
  color: #2C97FD;
  font-size: 1.3rem;
  margin-right: 0.5rem;
}
.section-3 .div-s3 .textarea-s3 .button-s3 {
  border: none;
  outline: none;
  padding: 12px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
  padding-block: 8px;
  padding-inline: 25px;
}
.section-3 .div-s3 .textarea-s3 .button-s3:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
.section-3 .div-s3 .textarea-s3 .button-s3 p {
  font-size: 0.85rem;
  color: white;
}
.section-3 .div-s3 .textarea-s3 .button-s3 p i {
  color: white;
}
.section-3 .div-s3 .textarea-s3 .button-s3:hover i {
  color: #2C97FD;
}
.section-3 .div-s3 .textarea-s3 .button-s3:hover p {
  color: #2C97FD;
}

.section-4 {
  padding-inline: 5rem;
  padding-block: 3rem;
  width: 100%;
  height: 100vh;
}
.section-4 .div-s4 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.section-4 .div-s4 .textarea-s4 {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-4 .div-s4 .textarea-s4 h1 {
  font-size: 2.5rem;
  color: #333333;
  margin-bottom: 1rem;
  position: relative;
}
.section-4 .div-s4 .textarea-s4 h1::before {
  content: "";
  color: brown;
  background-color: brown;
  width: 40%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
}
.section-4 .div-s4 .textarea-s4 p {
  font-size: 0.95rem;
  color: #999999;
  line-height: 1.5;
  width: 65%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
}
.section-4 .div-s4 .scroll-s4 {
  overflow: scroll;
  width: 100%;
  height: 300px;
  border-radius: 20px;
}
.section-4 .div-s4 .scroll-s4::-webkit-scrollbar {
  display: none;
}
.section-4 .div-s4 .scroll-s4 .carousel-d-s4 {
  width: 300%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-4 .div-s4 .scroll-s4 .carousel-d-s4 .card-s4 {
  height: 90%;
  width: 250px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 4px #2C97FD;
          box-shadow: 0 0 4px #2C97FD;
}
.section-4 .div-s4 .scroll-s4 .carousel-d-s4 .card-s4 .imgwrap-s4 {
  width: 100%;
  height: 55%;
}
.section-4 .div-s4 .scroll-s4 .carousel-d-s4 .card-s4 .imgwrap-s4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-4 .div-s4 .scroll-s4 .carousel-d-s4 .card-s4 .text-s4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.6rem;
  padding: 0.5rem;
  padding-top: 0.7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-4 .div-s4 .scroll-s4 .carousel-d-s4 .card-s4 .text-s4 h3 {
  font-size: 1.1rem;
  color: #333333;
  letter-spacing: 0.8px;
}
.section-4 .div-s4 .scroll-s4 .carousel-d-s4 .card-s4 .text-s4 h4 {
  font-size: 0.9rem;
  color: #999999;
  letter-spacing: 0.5px;
  font-weight: 100;
}
.section-4 .div-s4 .scroll-s4 .carousel-d-s4 .card-s4 .text-s4 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  font-size: 0.95rem;
  color: #333333;
  font-weight: 600;
}
.section-4 .div-s4 .scroll-s4 .carousel-d-s4 .card-s4 .text-s4 div p i {
  color: #2C97FD;
  margin-right: 0.3rem;
}
.section-4 .div-s4 .scroll-s4 .carousel-d-s4 .card-s4 .text-s4 h5 {
  font-size: 0.85rem;
  color: #999999;
  letter-spacing: 0.3px;
  font-weight: 100;
}
.section-4 .div-s4 .scroll-s4 .carousel-d-s4 .card-s4 .text-s4 h5 i {
  font-size: 0.9rem;
  color: goldenrod;
  margin-right: 0.3rem;
  font-weight: 600;
}
.section-4 .div-s4 .scroll-s4 .carousel-d-s4 .card-s4 .text-s4 h5 span {
  color: #333333;
  font-weight: 600;
}
.section-4 .div-s4 .cta-s4 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.section-4 .div-s4 .cta-s4 a button {
  border: none;
  outline: none;
  padding: 12px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
  padding-block: 12px;
  padding-inline: 30px;
}
.section-4 .div-s4 .cta-s4 a button:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
.section-4 .div-s4 .cta-s4 a button p {
  font-size: 1.1rem;
  color: white;
}
.section-4 .div-s4 .cta-s4 a button:hover p {
  color: #2C97FD;
}

.section-5 {
  height: 80vh;
  width: 100%;
  background-color: #dde8ff;
  padding-inline: 5rem;
  padding-block: 3rem;
}
.section-5 .div-s5 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.section-5 .div-s5 .textarea-s5 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}
.section-5 .div-s5 .textarea-s5 h1 {
  font-size: 2.7rem;
  color: #333333;
  position: relative;
}
.section-5 .div-s5 .textarea-s5 h1::before {
  content: "";
  color: brown;
  background-color: brown;
  width: 40%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
}
.section-5 .div-s5 .textarea-s5 h3 {
  font-size: 2rem;
  color: #999999;
}
.section-5 .div-s5 .scroll-s5 {
  overflow: scroll;
  width: 100%;
  height: 250px;
}
.section-5 .div-s5 .scroll-s5::-webkit-scrollbar {
  display: none;
}
.section-5 .div-s5 .scroll-s5 .carousel-s5 {
  width: 200%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 0.5rem;
}
.section-5 .div-s5 .scroll-s5 .carousel-s5 .card-s5 {
  width: 350px;
  height: 90%;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  padding-top: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}
.section-5 .div-s5 .scroll-s5 .carousel-s5 .card-s5 .text-s5 p {
  font-size: 0.97rem;
  color: #333333;
  font-weight: 600;
  line-height: 1.8;
}
.section-5 .div-s5 .scroll-s5 .carousel-s5 .card-s5 .text-i-s5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section-5 .div-s5 .scroll-s5 .carousel-s5 .card-s5 .text-i-s5 .icon-s5 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #2C97FD;
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
}
.section-5 .div-s5 .scroll-s5 .carousel-s5 .card-s5 .text-i-s5 h4 {
  font-size: 1rem;
  color: #333333;
}

.section-6 {
  width: 100%;
  height: 231vh;
  padding-inline: 5rem;
  padding-block: 3rem;
}
.section-6 .div-s6 {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.section-6 .div-s6 .textarea-s6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-6 .div-s6 .textarea-s6 h1 {
  font-size: 2.5rem;
  color: #333333;
  position: relative;
}
.section-6 .div-s6 .textarea-s6 h1::before {
  content: "";
  color: brown;
  background-color: brown;
  width: 50%;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
}
.section-6 .div-s6 .textarea-s6 h2 {
  font-size: 2rem;
  color: #999999;
}
.section-6 .div-s6 .textarea-s6 p {
  font-size: 1rem;
  color: #999999;
  font-weight: 200;
  letter-spacing: 0.7px;
}
.section-6 .div-s6 .textarea-s6 h3 {
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: #333333;
  background-color: #dde8ff;
}
.section-6 .div-s6 .textarea-s6 h3 i {
  font-size: 1.2rem;
  color: #2C97FD;
}
.section-6 .div-s6 .textarea-s6 h3 span {
  color: #2C97FD;
  cursor: pointer;
}
.section-6 .div-s6 .textarea-s6 h3 span:hover {
  text-decoration: underline;
}
.section-6 .div-s6 .grid-s6 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.section-6 .div-s6 .grid-s6 .card-s6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 370px;
  width: 350px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.section-6 .div-s6 .grid-s6 .card-s6 .imgwrap-s6 {
  height: 65%;
  width: 100%;
}
.section-6 .div-s6 .grid-s6 .card-s6 .imgwrap-s6 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-6 .div-s6 .grid-s6 .card-s6 .text-s6 {
  padding: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.6rem;
}
.section-6 .div-s6 .grid-s6 .card-s6 .text-s6 h3 {
  font-size: 1rem;
  color: #333333;
  -webkit-transition: 700ms;
  transition: 700ms;
  letter-spacing: 0.7px;
  cursor: pointer;
}
.section-6 .div-s6 .grid-s6 .card-s6 .text-s6 h3:hover {
  color: #2C97FD;
}
.section-6 .div-s6 .grid-s6 .card-s6 .text-s6 .flex-s6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.section-6 .div-s6 .grid-s6 .card-s6 .text-s6 .flex-s6 .icon-s6 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.section-6 .div-s6 .grid-s6 .card-s6 .text-s6 .flex-s6 .icon-s6 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-6 .div-s6 .grid-s6 .card-s6 .text-s6 .flex-s6 p {
  font-weight: 600;
  font-size: 0.8rem;
  color: #999999;
}
.section-6 .div-s6 .grid-s6 .card-s6 .text-s6 .flex-s6 p span {
  color: #2C97FD;
  cursor: pointer;
}
.section-6 .div-s6 .grid-s6 .card-s6 .text-s6 h5 {
  font-size: 0.9rem;
  background-color: #dde8ff;
  color: #333333;
  font-weight: 600;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0.2rem;
}
.section-6 .div-s6 .cta-s6 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.section-6 .div-s6 .cta-s6 a button {
  border: none;
  outline: none;
  padding: 12px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
  padding-block: 12px;
  padding-inline: 30px;
}
.section-6 .div-s6 .cta-s6 a button:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
.section-6 .div-s6 .cta-s6 a button p {
  font-size: 1rem;
  color: white;
}
.section-6 .div-s6 .cta-s6 a button:hover p {
  color: #2C97FD;
}

.section-7 {
  height: 85vh;
  width: 100%;
}
.section-7 .div-s7 {
  width: 100%;
  height: 100%;
  position: relative;
}
.section-7 .div-s7 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-7 .div-s7 .cover-s7 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  padding-inline: 5rem;
  background-color: rgba(0, 0, 0, 0.3);
}
.section-7 .div-s7 .cover-s7 .textarea-s7 {
  color: white;
  height: 100%;
  width: 50%;
  padding-block: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.section-7 .div-s7 .cover-s7 .textarea-s7 h1 {
  font-size: 3rem;
}
.section-7 .div-s7 .cover-s7 .textarea-s7 p {
  font-size: 1.1rem;
  line-height: 2;
  letter-spacing: 0.8px;
}
.section-7 .div-s7 .cover-s7 .textarea-s7 p span {
  color: #2C97FD;
}
.section-7 .div-s7 .cover-s7 .textarea-s7 a {
  margin-top: 1rem;
}
.section-7 .div-s7 .cover-s7 .textarea-s7 a button {
  border: none;
  outline: none;
  padding: 12px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
  padding-block: 14px;
  padding-inline: 50px;
}
.section-7 .div-s7 .cover-s7 .textarea-s7 a button:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
.section-7 .div-s7 .cover-s7 .textarea-s7 a button p {
  font-size: 1.1rem;
  color: white;
}
.section-7 .div-s7 .cover-s7 .textarea-s7 a button:hover p {
  color: #2C97FD;
}

.section-8 {
  background-color: #dde8ff;
  padding-inline: 5rem;
  padding-block: 3rem;
  height: 80vh;
}
.section-8 .div-s8 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-8 .div-s8 .textarea-s8 {
  width: 500px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  padding-block: 2rem;
}
.section-8 .div-s8 .textarea-s8 h1 {
  font-size: 3.6rem;
  color: #333333;
}
.section-8 .div-s8 .textarea-s8 p {
  font-size: 1.2rem;
  color: #999999;
  width: 70%;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.section-8 .div-s8 .textarea-s8 p a {
  text-decoration: none;
  color: #2C97FD;
}
.section-8 .div-s8 .textarea-s8 .download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 2rem;
}
.section-8 .div-s8 .textarea-s8 .download div {
  width: 185px;
  height: 50px;
  border-radius: 8px;
  overflow: hidden;
}
.section-8 .div-s8 .textarea-s8 .download div img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.section-8 .div-s8 .imgwrap-s8 {
  width: 500px;
  height: 100%;
}
.section-8 .div-s8 .imgwrap-s8 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #1B2433;
  padding-inline: 5rem;
  padding-block: 2rem;
  padding-bottom: 0;
  width: 100%;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .cfooter {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}
footer .cfooter .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.2rem;
  padding-right: 4rem;
  width: 400px;
}
footer .cfooter .newsletter .logo a div {
  width: 150px;
  height: 50px;
}
footer .cfooter .newsletter .logo a div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .cfooter .newsletter p {
  color: #999999;
  letter-spacing: 0.6px;
  line-height: 1.8;
  font-size: 0.85rem;
}
footer .cfooter .newsletter h3 {
  font-size: 1.3rem;
  color: white;
  margin-top: 0.5rem;
}
footer .cfooter .newsletter .subscribe {
  position: relative;
}
footer .cfooter .newsletter .subscribe input {
  background-color: #293241;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 13px;
  width: 350px;
  font-size: 0.85rem;
  color: white;
}
footer .cfooter .newsletter .subscribe .button-f {
  position: absolute;
  right: 0;
  top: 1.3px;
  color: white;
  font-weight: 200;
  border: none;
  outline: none;
  padding: 12px;
  padding-inline: 35px;
  border-radius: 35px;
  background-color: #2C97FD;
  -webkit-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  font-weight: 700;
}
footer .cfooter .newsletter .subscribe .button-f:hover {
  background-color: white;
  border: 1.5px solid #2C97FD;
  color: #2C97FD;
}
footer .cfooter .newsletter .subscribe .button-f:hover {
  color: #2C97FD;
  border: 1px;
}
footer .cfooter .footerlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}
footer .cfooter .footerlist .f-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
footer .cfooter .footerlist .f-list h3 {
  font-size: 1.2rem;
  letter-spacing: 0.6px;
  color: white;
}
footer .cfooter .footerlist .f-list ul {
  list-style: none;
}
footer .cfooter .footerlist .f-list ul li {
  margin-bottom: 1.5rem;
}
footer .cfooter .footerlist .f-list ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 0.9rem;
  letter-spacing: 0.6px;
}
footer .cfooter .footerlist .f-list ul li a:hover {
  text-decoration: underline;
}
footer .copyright {
  height: 100px;
  border-top: 1.3px solid #3a4b6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 1rem;
}
footer .copyright .copy-f p {
  color: #999999;
  letter-spacing: 0.6px;
  font-size: 0.8rem;
}
footer .copyright .socials-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  color: white;
  font-size: 1.3rem;
}
footer .copyright .socials-f div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
}
footer .copyright .socials-f div i {
  font-size: 0.8rem;
}
footer .copyright .socials-f div:hover {
  background-color: white;
  color: #2C97FD;
}