@import "./variables";
@import "./base";
@import "./mediaqueries";
@import "./mixin";


@mixin section{
    height: 88vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // padding-inline: 3rem;
    // padding-block: 3rem;
    // .blue{
    //     width: 50%;
    //     height: 100%;
    //     // background-color: $blue;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     opacity: 0.6;
    // }
    .white{
        width: 100%;
        height: 100%;
        // background-color: #f8f8f8;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        // justify-content: flex-end;
        .right{
            width: 50%;
            height: 100%;
            display: flex;
            // flex-direction: column;
            // justify-content: space-between;
            align-items: last baseline;
            justify-content: flex-end;
            // background-color: brown;
            div{
                width: 200px;
                height: 100px;
                background-color: $blue;
                border-radius: 50% 30%;
                opacity: 0.6;
            }
        }
        .left{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            div{
                width: 200px;
                height: 100px;
                background-color: $blue;
                border-radius: 30% 50%;
                opacity: 0.6;
            }
        
        }
    }
    .login{
        width: 450px;
        height: 530px;
        z-index: 1;
        // background-color: brown;
        border-radius: 20px;
        overflow: hidden;
        // display: flex;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        // .left{
        //     width: 50%;
        //     background-color: $blue;
        //     // opacity: 0.1;
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     position: relative;
        //     display: none;
        //     .text-ls{
        //         // opacity: 1;
        //         // background-color: brown;
        //         text-align: center;
        //         width: 70%;
        //         color: white;
        //         display: flex;
        //         flex-direction: column;
        //         gap: 1rem;
        //         h1{
        //             font-size: 2rem;
        //         }
        //         p{
        //             font-size: 0.85rem;
        //             letter-spacing: 0.8px;
        //         }
        //     }
        //     .dots-1{
        //         display: grid;
        //         grid-template-columns: repeat(4,1fr);
        //         gap: 0.8rem;
        //         position: absolute;
        //         // background-color: brown;
        //         top: 2rem;
        //         left: 2rem;
        //         div{
        //             width: 4px;
        //             height: 4px;
        //             border-radius: 50%;
        //             background-color: white;
        //         }
        //     }
        //     .dots-2{
        //         bottom: 2rem;
        //         left: 2rem;
        //         display: grid;
        //         grid-template-columns: repeat(4,1fr);
        //         gap: 0.8rem;
        //         position: absolute;
        //         // background-color: brown;
        //         div{
        //             width: 4px;
        //             height: 4px;
        //             border-radius: 50%;
        //             background-color: white;
        //         }
        //     }
        //     .dots-3{
        //         bottom: 2rem;
        //         right: 2rem;
        //         display: grid;
        //         grid-template-columns: repeat(4,1fr);
        //         gap: 0.8rem;
        //         position: absolute;
        //         // background-color: brown;
        //         div{
        //             width: 4px;
        //             height: 4px;
        //             border-radius: 50%;
        //             background-color: white;
        //         }
        //     }
        //     .dots-4{
        //         top: 2rem;
        //         right: 2rem;
        //         display: grid;
        //         grid-template-columns: repeat(4,1fr);
        //         gap: 0.8rem;
        //         position: absolute;
        //         // background-color: brown;
        //         div{
        //             width: 4px;
        //             height: 4px;
        //             border-radius: 50%;
        //             background-color: white;
        //         }
        //     }
        //     .circle-1{
        //         width: 35px;
        //         height: 35px;
        //         border-radius: 50%;
        //         background-color: white;
        //         box-shadow: 0 0 4px rgba(0,0,0,0.3);
        //         position: absolute;
        //         top: 20%;
        //         left: 44%;
        //     }
        // }
        .login-m{
            width: 100%;
            height: 100%;
            background-color: #fdfdfd;
            display: flex;
            justify-content: center;
            align-items: center;
            .main-form{
                height: 100%;
                width: 80%;
                padding-block: 1.5rem;
                // background-color: cyan;
                display: flex;
                flex-direction: column;
                // align-items: center;
                // justify-content: space-between;
                gap: 1rem;
                .title{
                    // background-color: aquamarine;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1rem;
                    .imgwrap{
                        width: 100px;
                        height: 65px;
                        background-color: #ececec;
                        border-radius: 10px;
                        box-shadow: 0 0 4px rgba(0,0,0,0.1);
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    h3{
                        font-size: 1.3rem;
                        color: $blue;
                        letter-spacing: 0.6px;
                        text-transform: uppercase;
                    }
                }
                .label-input{
                    // background-color: burlywood;
                    display: flex;
                    flex-direction: column;
                    gap: 0.8rem;
                    label{
                        font-size: 0.95rem;
                        color: $textcolor1;
                        font-weight: 600;
                    }
                    input{
                        height: 42px;
                        background-color: white;
                        border: none;
                        outline: none;
                        font-size: 0.86rem;
                        padding: 10px;
                        color: $textcolor1;
                        box-shadow: 0 0 2px rgba(0,0,0,0.1);
                    }
                }
                .checkboxarea{
                    // background-color: cadetblue;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .check{
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        label{
                            font-size: 0.9rem;
                            color: $textcolor1;
                            // font-weight: 600;
                        }
                    }
                    p{
                        color: $blue;
                        font-size: 0.85rem;
                        cursor: pointer;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .cta-section{
                    // background-color: darksalmon;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    a{
                        width: 100%;
                        button{
                            @include Button1($blue, $textcolor1);
                                    padding-block: 11px;
                                    padding-inline: 25px;
                                    border-radius: 6px;
                                    width: 100%;
                                    font-size: 0.9rem;
                                    // p{
                                    //     font-size: 0.85rem;
                                    //     color: white;
                                    //     i{
                                    //         color: white;
                                    //     }
                                    // }
                                    // &:hover{
                                    //     i{
                                    //         color: $blue;
                                    //     }
                                    //     p{
                                    //         color: $blue;
                                    //     }
                                    // }
                        }
                    }
                    .line-or{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.8rem;
                        div{
                            height: 0.8px;
                            width: 50%;
                            background-color: $textcolor2;
                        }
                        p{
                            font-size: 0.9rem;
                            color: $textcolor2;
                        }
                    }
                }
                .foot{
                    // background-color: gold;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    .icon{
                        display: flex;
                        justify-content: center;
                        gap: 1rem;
                        div{
                            width: 55px;
                            height: 45px;
                            background-color: white;
                            display: grid;
                            place-items: center;
                            border-radius: 10px;
                            cursor: pointer;
                            box-shadow: 0 0 2px rgba(0,0,0,0.1);
                            &:hover{
                                i{
                                    color: $blue;
                                }
                                .ri-facebook-circle-fill{
                                    color: black;
                                }
                            }
                            i{
                                color: $blue;
                                font-size: 1.5rem;
                            }
                            .ri-google-fill, .ri-apple-fill{
                                color: black;
                            }
                    }
                    }
                    .span{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        p{
                            font-size: 0.8rem;
                            color: $textcolor2;
                            a{
                                color: $blue;
                                cursor: pointer;
                                text-decoration: none;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // .signup{
    //     width: 65%;
    //     height: 85%;
    //     z-index: 2;
    //     // background-color: brown;
    //     border-radius: 20px;
    //     overflow: hidden;
    //     display: flex;
    //     box-shadow: 0 0 50px rgba(0,0,0,0.1);
    //     display: none;
    //     .left{
    //         width: 50%;
    //         background-color: $blue;
    //         // opacity: 0.1;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         position: relative;
    //         .text-ls{
    //             // opacity: 1;
    //             // background-color: brown;
    //             text-align: center;
    //             width: 70%;
    //             color: white;
    //             display: flex;
    //             flex-direction: column;
    //             gap: 1rem;
    //             h1{
    //                 font-size: 2rem;
    //             }
    //             p{
    //                 font-size: 0.85rem;
    //                 letter-spacing: 0.8px;
    //             }
    //         }
    //         .dots-1{
    //             display: grid;
    //             grid-template-columns: repeat(4,1fr);
    //             gap: 0.8rem;
    //             position: absolute;
    //             // background-color: brown;
    //             top: 2rem;
    //             left: 2rem;
    //             div{
    //                 width: 4px;
    //                 height: 4px;
    //                 border-radius: 50%;
    //                 background-color: white;
    //             }
    //         }
    //         .dots-2{
    //             bottom: 2rem;
    //             left: 2rem;
    //             display: grid;
    //             grid-template-columns: repeat(4,1fr);
    //             gap: 0.8rem;
    //             position: absolute;
    //             // background-color: brown;
    //             div{
    //                 width: 4px;
    //                 height: 4px;
    //                 border-radius: 50%;
    //                 background-color: white;
    //             }
    //         }
    //         .dots-3{
    //             bottom: 2rem;
    //             right: 2rem;
    //             display: grid;
    //             grid-template-columns: repeat(4,1fr);
    //             gap: 0.8rem;
    //             position: absolute;
    //             // background-color: brown;
    //             div{
    //                 width: 4px;
    //                 height: 4px;
    //                 border-radius: 50%;
    //                 background-color: white;
    //             }
    //         }
    //         .dots-4{
    //             top: 2rem;
    //             right: 2rem;
    //             display: grid;
    //             grid-template-columns: repeat(4,1fr);
    //             gap: 0.8rem;
    //             position: absolute;
    //             // background-color: brown;
    //             div{
    //                 width: 4px;
    //                 height: 4px;
    //                 border-radius: 50%;
    //                 background-color: white;
    //             }
    //         }
    //         .circle-1{
    //             width: 35px;
    //             height: 35px;
    //             border-radius: 50%;
    //             background-color: white;
    //             box-shadow: 0 0 4px rgba(0,0,0,0.3);
    //             position: absolute;
    //             top: 20%;
    //             left: 44%;
    //         }
    //     }
    //     .login-m{
    //         @include Login;
    //     }
    // }
}


// Beginning of media query 
@mixin mediaQuery($args...){
    @if length($args)==1{
        @media screen and (max-width: nth($args, 1)){
            @content;
        }
    }
    @if length($args)==2{
        @media screen and (max-width: nth($args, 1)) and (min-width: nth($args, 2)){
            @content;
        }
    }

}


// Media query for ipad 
@mixin section-i{
    height: 56vh;
    .login{
        .login-m{
            .main-form{
                .title{
                    h3{
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }
}

// Media query for phone
@mixin section-p{
    padding-inline: $inline-p;
    height: 92vh;
    .white{
        display: none;
    }
    .login{
        width: 100%;
        .login-m{
            .main-form{
                .title{
                    h3{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}