@import "./variables";
@import "./base";
@import "./mediaqueries";


@mixin Button1($buttoncolor, $textcolor1){
    border: none;
    outline: none;
    padding: 12px;
    padding-inline: 35px;
    border-radius: 35px;
    background-color: $buttoncolor;
    transition: 500ms;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 0.95rem;
    font-weight: 700;
    &:hover{
        background-color: white;
        border: 1.5px solid $buttoncolor;
        color: $buttoncolor;
    }

}
@mixin Button2($buttoncolor, $textcolor1){
    border: none;
    outline: none;
    padding: 12px;
    padding-inline: 35px;
    border-radius: 35px;
    background-color: white;
    border: 1.5px solid $buttoncolor;
    transition: 500ms;
    cursor: pointer;
    text-decoration: none;
    color: $buttoncolor;
    font-size: 0.95rem;
    font-weight: 700;
    &:hover{
        background-color: $buttoncolor;
        color: white;
    }
}


@mixin NavBar($buttoncolor, $textcolor1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding-inline: $inline;
    background-color: #f7f7f7;
    .logo{
        // background-color: $blue;
        a{
            div{
                width: 120px;
                height: 70px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .navlist{
        ul{
            display: flex;
            gap: 1.5rem;
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    letter-spacing: 0.6px;
                    font-weight: 700;
                    font-size: 0.88rem;
                    color: $textcolor1;
                    transition: 600ms;
                    &:hover{
                        color: $buttoncolor;
                    }
                }
            }
        }
    }
    .searchbar{
        input{
            padding: 8px;
            width: 200px;
            outline: none;
            border: 1.5px solid $buttoncolor;
            border-radius: 30px;
            font-size: 0.85rem;
            // font-style: italic;
            letter-spacing: 0.5px;
        }
    }
    .cta{
        .signup{
            @include Button1($blue, $textcolor1);
            font-size: 0.88rem;
        }
        .login{
            @include Button2($blue, $textcolor1);
            font-size: 0.88rem;
        }
    }
}

@mixin Section1($bgcolor, $textcolor1){
    width: 100%;
    height: 90vh;
    background-color: $bgcolor;
    padding-inline: $inline;
    padding-block: 3rem;
    .div-s1{
        width: 100%;
        height: 100%;
        display: flex;
        // gap: 3rem;
        justify-content: space-between;
        .textarea-1{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            width: 500px;
            p{
                font-size: 1.3rem;
                font-weight: 200;
                color: $textcolor1;
                line-height: 1.5;
                letter-spacing: 0.6px;
                .ri-heart-fill{
                    color: red;
                    font-size: 1.2rem;
                    margin-right: 0.2rem;
                }
            }
            h1{
                font-size: 2.8rem;
                color: $textcolor1;
                margin-bottom: 1rem;
            }
            .second-p{
                width: 80%;
                line-height: 1.8;
                font-size: 0.9rem;
                margin-bottom: 0.5rem;
            }
            .cta-s1{
                margin-bottom: 0.5rem;
                .button1-s1{
                    @include Button1($blue, $textcolor1);
                    padding-block: 8px;
                    padding-inline: 25px;
                    p{
                        font-size: 0.85rem;
                        color: white;
                        i{
                            color: white;
                        }
                    }
                    &:hover{
                        i{
                            color: $blue;
                        }
                        p{
                            color: $blue;
                        }
                    }

                }
                .button2-s1{
                    @include Button2($blue, $textcolor1);
                    padding-block: 8px;
                    padding-inline: 25px;
                    p{
                        font-size: 0.85rem;
                        color: $blue;
                        i{
                            color: $blue;
                        }
                    }
                    &:hover{
                        i{
                            color: white;
                        }
                        p{
                            color: white;
                        }
                    }
                }
            }
            .grid-s1{
                display: flex;
                justify-content: space-between;
                // background-color: brown;
                margin-top: 2rem;
                gap: 1.5rem;
                div{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    text-align: center;
                    h2{
                        color: $blue;
                        font-size: 1.3rem;
                    }
                    p{
                        font-size: 0.85rem;
                    }
                }
            }
        }
        .imgwrap-s1{
            width: 700px;
            height: 100%;
            position: relative;
            // background-color: brown;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .miniTextarea{
                width: 260px;
                height: 235px;
                position: absolute;
                left: -3rem;
                top: 38%;
                background-color: white;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                border-radius: 20px;
                gap: 1rem;
                box-shadow: 0px 0px 15px rgba(70, 93, 226, 0.6);
                .step-s1{
                    display: flex;
                    gap: 0.9rem;
                    width: 100%;
                    .icon-1, .icon-1i, .icon-1ii{
                        width: 50px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: #C7D3F6;
                        color: #7B98E8;
                        display: grid;
                        place-items: center;
                    }
                    .icon-1i{
                        background-color: #A1DED9;
                        color: #3DC0B6;
                    }
                    .icon-1ii{
                        background-color: #D2DAA9;
                        color: #A7AA47;
                    }
                    .text-s1{
                        display: flex;
                        flex-direction: column;
                        gap: 0.4rem;
                        h3{
                            font-size: 0.75rem;
                            color: $textcolor1;
                        }
                        p{
                            font-size: 0.7rem;
                            color: $textcolor2;
                        }
                    }
                }
                .cta-1-s1{
                    align-self: center;
                    .button3-s1{
                        @include Button1($blue, $textcolor1);
                        padding-block: 8px;
                        padding-inline: 25px;
                        p{
                            font-size: 0.7rem;
                            color: white;
                        }
                        &:hover{
                            p{
                                color: $blue;
                            }
                        }
                    }
                }
            }

        }
    }
}

@mixin Section2($textcolor1, $textcolor2){
    width: 100%;
    height: 125vh;
    padding-inline: $inline;
    padding-block: 2rem;
    .div-s2{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        .textarea-2{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            h1{
                font-size: 3.3rem;
                color: $textcolor1;
                position: relative;
                &::before{
                    content: "";
                    color: brown;
                    background-color: brown;
                    width: 50%;
                    height: 3px;
                    border-radius: 2px;
                    position: absolute;
                    bottom: -0.7rem;
                    left: 0;
                }
            }
            p{
                color: $textcolor2;
                font-weight: 700;
                font-size: 0.9rem;
                width: 60%;
                line-height: 1.5;
            }
        }
        .grid-s2{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 2rem;
            .card-s2{
                width: 350px;
                height: 250px;
                display: flex;
                flex-direction: column;
                padding-inline: 0.7rem;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: 0.8rem;
                border-radius: 20px;
                box-shadow: 0px 0px 8px rgba(70, 93, 226, 0.6);
                .imgwrap-s2{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    box-shadow: 0 0 2px rgba(0,0,0,0.3);
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                h3{
                    font-size: 1.3rem;
                    color: $textcolor1;
                    letter-spacing: 0.7px;
                }
                p{
                    font-size: 0.9rem;
                    color: $textcolor2;
                    // font-weight: 700;
                }
                a{
                    button{
                        padding: 10px;
                        padding-inline: 40px;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        background-color: $blue;
                        color: white;
                        border-radius: 30px;
                        font-size: 1.5rem;
                        transition: 600ms;
                        &:hover{
                            background-color: white;
                            color: $blue;
                            border: 1.5px solid $blue;
                        }
                    }
                }
            }
        }
    }
}

@mixin Section3($textcolor1, $textcolor2){
    background-color: $secondary;
    height: 100vh;
    // padding-inline: $inline;
    padding-block: 3rem;
    position: relative;
    svg{
        position: absolute;
        bottom: 0;
    }
    .div-s3{
        width: 100%;
        height: 100%;
        display: flex;
        padding-inline: $inline;
        justify-content: space-between;
        gap: 3rem;
        .imgwrap-s3{
            width: 500px;
            height: 100%;
            // overflow: hidden;
            // background-color: brown;
            border-radius: 40px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .minitext-s3{
                display: flex;
                flex-direction: column;
                // align-items: center;
                padding: 1rem;
                gap: 0.9rem;
                background-color: white;
                box-shadow: 0 0 4px $blue;
                z-index: 2;
                position: absolute;
                right: -4rem;
                bottom: 3rem;
                width: 230px;
                height: 260px;
                border-radius: 30px;
                .toptext-s3{
                    h3{
                        color: $textcolor1;
                        font-size: 1rem;
                        margin-bottom: 0.5rem;
                    }
                    p{
                        color: $textcolor2;
                        font-size: 0.9rem;
                        font-weight: 700;
                    }
                }
                .column-s3{
                    display: flex;
                    gap: 0.8rem;
                    align-items: center;
                    .icon-s3{
                        width: 50px;
                        height: 50px;
                        position: relative;
                        border-radius: 50%;
                        // overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                        .greendot{
                            position: absolute;
                            bottom: 0.8rem;
                            right: -0.2rem;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: #20e420;
                            z-index: 3;
                        }
                    }
                    .writeup-s3{
                        h4{
                            font-size: 1rem;
                            color: $textcolor1;
                            margin-bottom: 0.3rem;
                        }
                        p{
                            color: $textcolor2;
                            font-size: 0.9rem;
                            font-weight: 700;
                        }
                    }
                }
                .cta-s3{
                    align-self: center;
                    a{
                        button{
                            @include Button1($blue, $textcolor1);
                            padding-block: 8px;
                            padding-inline: 25px;
                            p{
                                font-size: 0.7rem;
                                color: white;
                            }
                            &:hover{
                                p{
                                    color: $blue;
                                }
                            }
                        }
                    }
                }
            }
        }
        .textarea-s3{
            width: 500px;
            // background-color: brown;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            gap: 2rem;
            padding-block: 2rem;
            h1{
                font-size: 2.5rem;
                color: $textcolor1;
                position: relative;
                &::before{
                    content: "";
                    color: brown;
                    background-color: brown;
                    width: 40%;
                    height: 3px;
                    border-radius: 2px;
                    position: absolute;
                    bottom: -1rem;
                    left: 0;
                }
                span{
                    color: $blue;
                }
            }
            p{
                font-size: 0.93rem;
                color: $textcolor2;
                line-height: 2;
                // letter-spacing: 1px;
                font-weight: 700;
            }
            ul{
                li{
                    list-style: none;
                    margin-bottom: 0.7rem;
                    p{
                        color: $textcolor1;
                        font-size: 1.1rem;
                        i{
                            color: $blue;
                            font-size: 1.3rem;
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
            .button-s3{
                @include Button1($blue, $textcolor1);
                padding-block: 8px;
                padding-inline: 25px;
                p{
                    font-size: 0.85rem;
                    color: white;
                    i{
                        color: white;
                    }
                }
                &:hover{
                    i{
                        color: $blue;
                    }
                    p{
                        color: $blue;
                    }
                }
            }
        }
    }
}

@mixin Section4($textcolor1, $textcolor2){
    padding-inline: $inline;
    padding-block: 3rem;
    width: 100%;
    height: 100vh;
    .div-s4{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        .textarea-s4{
            text-align: center;
            width: 100%;
            // align-self: center;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            align-items: center;
            h1{
                font-size: 2.5rem;
                color: $textcolor1;
                margin-bottom: 1rem;
                position: relative;
                &::before{
                    content: "";
                    color: brown;
                    background-color: brown;
                    width: 40%;
                    height: 3px;
                    border-radius: 2px;
                    position: absolute;
                    bottom: -0.5rem;
                    left: 0;
                }
            }
            p{
                font-size: 0.95rem;
                color: $textcolor2;
                line-height: 1.5;
                width: 65%;
                align-self: center;
                font-weight: 600;
            }
        }
        .scroll-s4{
            overflow: scroll;
            width: 100%;
            // background-color: $secondary;
            height: 300px;
            border-radius: 20px;
            &::-webkit-scrollbar{
                display: none;
            }
            .carousel-d-s4{
                width: 300%;
                // overflow: scroll;
                height: 100%;
                display: flex;
                // gap: 2.8rem;
                justify-content: space-between;
                align-items: center;
                .card-s4{
                    height: 90%;
                    width: 250px;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    // gap: 1rem;
                    border-radius: 10px;
                    overflow: hidden;
                    box-shadow: 0 0 4px $blue;
                    .imgwrap-s4{
                        width: 100%;
                        height: 55%;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .text-s4{
                        display: flex;
                        flex-direction: column;
                        // justify-content: space-between;
                        gap: 0.6rem;
                        padding: 0.5rem;
                        padding-top: 0.7rem;
                        justify-content: center;
                        h3{
                            font-size: 1.1rem;
                            color: $textcolor1;
                            letter-spacing: 0.8px;
                        }
                        h4{
                            font-size: 0.9rem;
                            color: $textcolor2;
                            letter-spacing: 0.5px;
                            font-weight: 100;
                        }
                        div{
                            display: flex;
                            gap: 1rem;
                            font-size: 0.95rem;
                            color: $textcolor1;
                            font-weight: 600;
                            p{
                                i{
                                    color: $blue;
                                    margin-right: 0.3rem;
                                }
                            }
                        }
                        h5{
                            font-size: 0.85rem;
                            color: $textcolor2;
                            letter-spacing: 0.3px;
                            font-weight: 100;
                            i{
                                font-size: 0.9rem;
                                color: goldenrod;
                                margin-right: 0.3rem;
                                font-weight: 600;
                            }
                            span{
                                color: $textcolor1;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
        
        .cta-s4{
            align-self: center;
            a{
                button{
                    @include Button1($blue, $textcolor1);
                    padding-block: 12px;
                    padding-inline: 30px;
                    p{
                        font-size: 1.1rem;
                        color: white;
                    }
                    &:hover{
                        p{
                            color: $blue;
                        }
                    }
                }
            }
        }
    }
}

@mixin Section5 ($textcolor1, $textcolor2){
    height: 80vh;
    width: 100%;
    background-color: $secondary;
    padding-inline: $inline;
    padding-block: 3rem;
    .div-s5{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        .textarea-s5{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
            h1{
                font-size: 2.7rem;
                color: $textcolor1;
                position: relative;
                &::before{
                    content: "";
                    color: brown;
                    background-color: brown;
                    width: 40%;
                    height: 3px;
                    border-radius: 2px;
                    position: absolute;
                    bottom: -0.5rem;
                    left: 0;
                }
            }
            h3{
                font-size: 2rem;
                color: $textcolor2;
            }
        }
        .scroll-s5{
            // background-color: brown;
            overflow: scroll;
            width: 100%;
            height: 250px;
            &::-webkit-scrollbar{
                display: none;
            }
            .carousel-s5{
                width: 200%;
                height: 100%;
                display: flex;
                gap: 1rem;
                align-items: center;
                justify-content: space-between;
                padding-inline: 0.5rem;
                .card-s5{
                    width: 350px;
                    height: 90%;
                    background-color: white;
                    border-radius: 8px;
                    box-shadow: 0 5px 8px rgba(0,0,0,0.3);
                    padding: 1rem;
                    padding-top: 2rem;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;
                    .text-s5{
                        p{
                            font-size: 0.97rem;
                            color: $textcolor1;
                            font-weight: 600;
                            line-height: 1.8;
                        }
                    }
                    .text-i-s5{
                        display: flex;
                        align-items: center;
                        gap: 1.5rem;
                        justify-content: center;
                        .icon-s5{
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            display: grid;
                            place-items: center;
                            background-color: $blue;
                            font-size: 1.1rem;
                            color: white;
                            font-weight: 600;
                        }
                        h4{
                            font-size: 1rem;
                            color: $textcolor1;
                        }
                    }
                }
            }
        }
    }
}

@mixin Section6($textcolor1, $textcolor2){
    width: 100%;
    height: 231vh;
    padding-inline: $inline;
    padding-block: 3rem;
    .div-s6{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        .textarea-s6{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            h1{
                font-size: 2.5rem;
                color: $textcolor1;
                position: relative;
                &::before{
                    content: "";
                    color: brown;
                    background-color: brown;
                    width: 50%;
                    height: 3px;
                    border-radius: 2px;
                    position: absolute;
                    bottom: -0.5rem;
                    left: 0;
                }
            }
            h2{
                font-size: 2rem;
                color: $textcolor2;
            }
            p{
                font-size: 1rem;
                color: $textcolor2;
                font-weight: 200;
                letter-spacing: 0.7px;
            }
            h3{
                font-size: 1rem;
                letter-spacing: 0.5px;
                color: $textcolor1;
                background-color: $secondary;
                i{
                    font-size: 1.2rem;
                    color: $blue;
                }
                span{
                    color: $blue;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
        .grid-s6{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            place-items: center;
            gap: 2rem;
            .card-s6{
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 370px;
                width: 350px;
                // background-color: brown;
                border-radius: 20px;
                overflow: hidden;
                box-shadow: 0 0 10px rgba(0,0,0,0.5);
                
                .imgwrap-s6{
                    height: 65%;
                    width: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .text-s6{
                    padding: 0.8rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.6rem;
                    h3{
                        font-size: 1rem;
                        color: $textcolor1;
                        transition: 700ms;
                        letter-spacing: 0.7px;
                        cursor: pointer;
                        &:hover{
                            color: $blue;
                        }
                    }
                    .flex-s6{
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        .icon-s6{
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            overflow: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        p{
                            font-weight: 600;
                            font-size: 0.8rem;
                            color: $textcolor2;
                            span{
                                color: $blue;
                                cursor: pointer;
                            }
                        }
                    }
                    h5{
                        font-size: 0.9rem;
                        background-color: $secondary;
                        color: $textcolor1;
                        font-weight: 600;
                        align-self: flex-start;
                        padding: 0.2rem;
                    }
                }
            }
        }
        .cta-s6{
            align-self: center;
            a{
                button{
                    @include Button1($blue, $textcolor1);
                    padding-block: 12px;
                    padding-inline: 30px;
                    p{
                        font-size: 1rem;
                        color: white;
                    }
                    &:hover{
                        p{
                            color: $blue;
                        }
                    }
                }
            }
        }
    }
} 


// Beginning of mixin for Are you a doctor section
@mixin Section7($textcolor1, $textcolor2){
        height: 85vh;
        width: 100%;
        .div-s7{
            width: 100%;
            height: 100%;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .cover-s7{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                padding-inline: $inline;
                background-color: rgba(0,0,0,0.3);
                .textarea-s7{
                    // background-color: brown;
                    color: white;
                    height: 100%;
                    width: 50%;
                    padding-block: 4rem;
                    display: flex;
                    flex-direction: column;
                    // justify-content: center;
                    gap: 2rem;
                    h1{
                        font-size: 3rem;
                    }
                    p{
                        font-size: 1.1rem;
                        line-height: 2;
                        letter-spacing: 0.8px;
                        span{
                            color: $blue
                        }
                    }
                    a{
                        margin-top: 1rem;
                        button{
                            @include Button1($blue, $textcolor1);
                            padding-block: 14px;
                            padding-inline: 50px;
                            p{
                                font-size: 1.1rem;
                                color: white;
                            }
                            &:hover{
                                p{
                                    color: $blue;
                                }
                            }
                        }
                    }
                }
            }
        }
}
// End of mixin for Are you a doctor section


// Beginning of mixin for Download App section
@mixin Section8($textcolor1, $textcolor2){
    background-color: $secondary;
    padding-inline: $inline;
    padding-block: 3rem;
    height: 80vh;
    .div-s8{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .textarea-s8{
            width: 500px;
            // background-color: brown;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 2rem;
            padding-block: 2rem;
            h1{
                font-size: 3.6rem;
                // width: 60%;
                color: $textcolor1;
            }
            p{
                font-size: 1.2rem;
                color: $textcolor2;
                width: 70%;
                // font-weight: 600;
                margin-bottom: 1rem;
                line-height: 1.5;
                a{
                    text-decoration: none;
                    color: $blue;
                }
            }
            .download{
                display: flex;
                width: 100%;
                // justify-content: center;
                gap: 2rem;
                div{
                    width:185px;
                    height: 50px;
                    border-radius: 8px;
                    overflow: hidden;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
        .imgwrap-s8{
            width: 500px;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
} 
// End of mixin for Download App section 

// Beginning of mixin for footer 
@mixin Footer($bgcolor, $textcolor1, $textcolor2){
    background-color: $bgcolor;
    padding-inline: $inline;
    padding-block: 2rem;
    padding-bottom: 0;
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    .cfooter{
        width: 100%;
        height: 100%;
        display: flex;
        gap: 4rem;
        .newsletter{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // justify-content: space-between;
            gap: 1.2rem;
            // background-color: brown;
            padding-right: 4rem;
            width: 400px;
            .logo{
                a{
                    div{
                        width: 150px;
                        height: 50px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
            p{
                color: $textcolor2;
                // font-weight: 700;
                letter-spacing: 0.6px;
                line-height: 1.8;
                font-size: 0.85rem;
                // margin-top: 1rem;
            }
            h3{
                font-size: 1.3rem;
                color: $textcolor1;
                margin-top: 0.5rem;
            }
            .subscribe{
                position: relative;
                input{
                    background-color: #293241;
                    border: none;
                    outline: none;
                    border-radius: 40px;
                    padding: 13px;
                    width: 350px;
                    font-size: 0.85rem;
                    // font-weight: 700;
                    color: $textcolor1;
                }
                .button-f{
                    position: absolute;
                    right: 0;
                    top: 1.3px;
                    color: $textcolor1;
                    font-weight: 200;
                    @include Button1($blue, $textcolor1);
                    &:hover{
                        color: $blue;
                        border: 1px;
                    }
                }
            }
        }
        .footerlist{
            display: flex;
            width: 100%;
            justify-content: space-between;
            // align-items: center;
            // background-color: brown;
            padding-top: 2rem;
            .f-list{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                h3{
                    font-size: 1.2rem;
                    letter-spacing: 0.6px;
                    color: $textcolor1;
                }
                ul{
                    list-style: none;
                    li{
                        margin-bottom: 1.5rem;
                        a{
                            text-decoration: none;
                            color: $textcolor2;
                            font-size: 0.9rem;
                            letter-spacing: 0.6px;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
    .copyright{
        height: 100px;
        border-top: 1.3px solid #3a4b6e;
        // background-color: cadetblue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 1rem;
        .copy-f{
            p{
                color: $textcolor2;
                letter-spacing: 0.6px;
                // font-weight: 700;
                font-size: 0.8rem;
            }
        }
        .socials-f{
            display: flex;
            align-items: center;
            // justify-content: space-between;
            gap: 1.5rem;
            color: $textcolor1;
            font-size: 1.3rem;
            div{
                width: 25px;
                height: 25px;
                border-radius: 50%;
                border: 1px solid $textcolor1;
                display: grid;
                place-items: center;
                cursor: pointer;
                i{
                    font-size: 0.8rem;
                }
                &:hover{
                    background-color: white;
                    color: $blue;
                }
            }

        }
    }
}
// End of mixin for footer 



// Beginning of media query 
@mixin mediaQuery($args...){
    @if length($args)==1{
        @media screen and (max-width: nth($args, 1)){
            @content;
        }
    }
    @if length($args)==2{
        @media screen and (max-width: nth($args, 1)) and (min-width: nth($args, 2)){
            @content;
        }
    }

}

// Beginning of Section 1 media query for ipad
@mixin Section-1-i{
    padding-inline: $inline-i;
    // background-color: brown;
    height: 55vh;
    padding-block: 2rem;
    .div-s1{
        .textarea-1{
            align-self: center;
            width: 400px;
            p{
                font-size: 1.2rem;
            }
            h1{
                font-size: 2.5rem;
                margin-bottom: 0rem;
            }
            .cta-s1{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                // background-color: brown;
                width: 80%;
                margin-bottom: 0;
            }
            .grid-s1{
                margin-top: 0.4rem;
                gap: 1rem;
                div{
                    gap: 0.3rem;
                }
            }
        }
        .imgwrap-s1{
            width: 380px;
            .miniTextarea{
                top: 42%;
                left: -4.8rem;
            }
        }
    }
}
// End of Section 1 media query for ipad


// Beginning of Section 1 media query for phone
@mixin Section-1-p{
    height: 145vh;
    // background-color: brown;
    padding-inline: $inline-p;
    padding-bottom: 2rem;
    padding-top: 0;
    .div-s1{
        flex-direction: column-reverse;
        // justify-content: last baseline;
        // gap: 1rem;
        .imgwrap-s1{
            width: 100%;
            height: 500px;
            justify-self: first baseline;
            // background-color: brown;
            .miniTextarea{
                left: 1.8rem;
                top: 50.1%;
            }
        }
        .textarea-1{
            // align-self: center;
            width: 100%;
            p{
                font-size: 1.2rem;
                width: 100%;
            }
            h1{
                font-size: 2.3rem;
                margin-bottom: 0rem;
                width: 100%;
            }
            .second-p{
                width: 100%;
            }
            .cta-s1{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                // background-color: brown;
                width: 100%;
                margin-bottom: 0;
            }
            .grid-s1{
                margin-top: 0.4rem;
                gap: 1rem;
                div{
                    gap: 0.3rem;
                }
            }
        }
    }
}
// End of Section 1 media query for phone

// Beginning of What We Do section media query for ipad
@mixin Section-2-i{
    // background-color: brown;
    padding-inline: $inline-i;
    height: 95vh;
    .div-s2{
        gap: 2rem;
        .textarea-2{
            gap: 1.5rem;
            h1{
                font-size: 3rem;
                // width: 100%;
            }
            p{
                width: 100%;
            }
        }
        .grid-s2{
            grid-template-columns: repeat(2,1fr);
            place-items: center;
        }
    }
}
// End of What We Do section media query for ipad


// Beginning of What We Do section media query for phone
@mixin Section-2-p{
    height: 182vh;
    padding-inline: $inline-p;
    padding-block: 3rem;
    padding-top: 3.5rem;
    .div-s2{
        gap: 2rem;
        .textarea-2{
            // gap: 1rem;
            h1{
                font-size: 2.7rem;
            }
            p{
                width: 100%;
                // line-height: 1;
            }
        }
        .grid-s2{
            grid-template-columns: repeat(1,1fr);
            gap: 3rem;
            place-items: center;
            div:nth-child(5), div:nth-child(6){
                display: none;
            }
            .card-s2{
                width: 280px;
                height: 230px;
                .imgwrap-s2{
                    width: 50px;
                    height: 50px;
                }
                a{
                    button{
                        padding: 8px;
                        padding-inline: 30px;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}
// End of What We Do section media query for phone

// Beginning of Why Choose Us section media query for ipad
@mixin Section-3-i{
    height: 60vh;
    // padding-inline: $inline-i;
    padding-block: 1.5rem;
    .div-s3{
        padding-inline: $inline-i;
        gap: 2rem;
        .imgwrap-s3{
            width: 380px;
            .minitext-s3{
                left: 0;
                width: 270px;
                height: 255px;
            }
        }
        .textarea-s3{
            // width: 400px;
            // gap: 1.7rem;
            align-self: center;
            p{
                line-height: 1.5;
                font-weight: 300;
                font-size: 0.97rem;
            }
        }
    }
}
// End of Why Choose Us section media query for ipad

// Beginning of Why Choose Us section media query for phone
@mixin Section-3-p{
    height: 90vh;
    padding-block: 1.5rem;
    .div-s3{
        padding-inline: $inline-p;
        .imgwrap-s3{
            display: none;
        }
        .textarea-s3{
            gap: 1rem;
            align-self: center;
            h1{
                &::before{
                    bottom: 0rem;
                }
            }
            ul{
                li{
                    margin-bottom: 0.2rem;
                }
            }
        }
    }
}
// End of Why Choose Us section media query for phone


// Beginning of doctor Carousel section media query for ipad
@mixin Section-4-i{
    padding-inline: $inline-i;
    height: 67vh;
    // background-color: brown;
    .div-s4{
        .textarea-s4{
            h1{
                margin-bottom: 0.3rem;
            }
            p{
                width: 100%;
                font-size: 0.98rem;
            }
        }
        .scroll-s4{
            height: 350px;
            .carousel-d-s4{
                width: 580%;
                .card-s4{
                    width: 320px;
                }
            }
        }
    }
}
// End of doctor Carousel section media query for ipad


// Beginning of doctor Carousel section media query for phone
@mixin Section-4-p{
    padding-inline: $inline-p;
    padding-block: 2rem;
    height: 101vh;
    .div-s4{
        gap: 1.5rem;
        .textarea-s4{
            // gap: 1rem;
            h1{
                margin-bottom: 0;
                font-size: 2rem;
                &::before{
                    display: none;
                }
            }
            p{
                width: 100%;
            }
        }
        .scroll-s4{
            height: 320px;
            .carousel-d-s4{
                width: 1150%;
                .card-s4{
                    width: 260px;
                }
            }
        }
    }
}
// End of doctor Carousel section media query for phone


// Beginning of Testimonials section media query for ipad
@mixin Section-5-i{
    height: 50vh;
    padding-inline: $inline-i;
    padding-block: 2rem;
    .div-s5{
        gap: 3rem;
        .textarea-s5{
            h1{
                font-size: 2.5rem;
            }
            h3{
                font-size: 1.8rem;
            }
        }
        .scroll-s5{
            height: 280px;
            .carousel-s5{
                width: 350%;
                .card-s5{
                    width: 400px;
                    justify-content: center;
                    align-items: center;
                    .text-s5{
                        p{
                            font-size: 1rem;
                        }
                    }
                    .text-i-s5{
                        gap: 1rem;
                        .icon-s5{
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
}
// End of Testimonials section media query for ipad

// Beginning of Testimonials section media query for phone
@mixin Section-5-p{
    
    height: 60vh;
    padding-inline: $inline-p;
    padding-block: 2rem;
    .div-s5{
        gap: 2rem;
        .textarea-s5{
            gap: 1rem;
            h1{
                font-size: 2.3rem;
            }
            h3{
                font-size: 1.6rem;
            }
        }
        .scroll-s5{
            height: 240px;
            .carousel-s5{
                width: 600%;
                .card-s5{
                    width: 350px;
                    justify-content: center;
                    align-items: center;
                    .text-s5{
                        p{
                            font-size: 1rem;
                        }
                    }
                    .text-i-s5{
                        gap: 1rem;
                        .icon-s5{
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }

}
// End of Testimonials section media query for phone

// Beginning of topics section media query for ipad 
@mixin Section-6-i{
    padding-inline: $inline-i;
    padding-block: 2rem;
    height: 143vh;
    .div-s6{
        gap: 3rem;
        .grid-s6{
            grid-template-columns: repeat(2,1fr);
            div:nth-child(7), div:nth-child(8), div:nth-child(9){
                display: none;
            }
        }
    }
}
// End of topics section media query for ipad 

// Beginning of topics section media query for phone 
@mixin Section-6-p{
    padding-inline: $inline-p;
    padding-block: 2rem;
    height: 252vh;
    .div-s6{
        gap: 2rem;
        .textarea-s6{
            // text-align: center;
            h1{
                text-align: center;
            }
            h2{
                text-align: center;
            }
            p{
                width: 100%;
                align-items: flex-start;
                // background-color: brown;
                font-size: 0.88rem;
            }
            h3{
                text-align: center;
            }
        }
        .grid-s6{
            grid-template-columns: repeat(1,1fr);
            div:nth-child(5), div:nth-child(6), div:nth-child(7), div:nth-child(8), div:nth-child(9){
                display: none;
            }
            .card-s6{
                height: 355px;
                width: 320px;
                .imgwrap-s6{
                    height: 63%;
                }
            }
        }
    }
}
// End of topics section media query for phone

// Beginning of Are you a doctor section media query for ipad 
@mixin Section-7-i{
    height: 70vh;
    .div-s7{
        .cover-s7{
            padding-inline: $inline-i;
        }
    }
}
// End of Are you a doctor section media query for ipad 

// Beginning of Are you a doctor section media query for phone 
@mixin Section-7-p{
    height: 80vh;
    .div-s7{
        .cover-s7{
            padding-inline: $inline-p;
            .textarea-s7{
                width: 100%;
                padding-block: 3rem;
                gap: 1.5rem;
                h1{
                    font-size: 2.5rem;
                }
                p{
                    font-size: 0.98rem;
                    line-height: 1.5;
                }
            }
        }
    }
}
// End of Are you a doctor section media query for phone

// Beginning of Download App section media query for ipad
@mixin Section-8-i{
    height: 50vh;
    padding-inline: $inline-i;
    padding-block: 2rem;
    .div-s8{
        .textarea-s8{
            width: 400px;
            gap: 1.5rem;
            // background-color: cyan;
            h1{
                font-size: 3rem;
            }
            .download{
                gap: 0.8rem;
                // background-color: brown;
                width: 350px;
            }
        }
        .imgwrap-s8{
            width: 350px;
        }
    }
}
// End of Download App section media query for ipad

// Beginning of Download App section media query for phone
@mixin Section-8-p{
    height: 43vh;
    padding-inline: $inline-p;
    padding-block: 2rem;
    .div-s8{
        .textarea-s8{
            width: 100%;
            gap: 1rem;
            // background-color: cyan;
            padding-block: 0;
            h1{
                font-size: 2.5rem;
            }
            p{
                font-size: 1rem;
                width: 100%;
            }
            .download{
                gap: 0.8rem;
                // background-color: brown;
                width: 100%;
            }
        }
        .imgwrap-s8{
            display: none;
        }
    }
}
// End of Download App section media query for phone

// Beginning of ipad media query for footer 
@mixin Footer-i{
    padding-inline: $inline-i;
    height: 38vh;
    .cfooter{
        gap: 0rem;
        .newsletter{
            padding-right: 1rem;
            width: 390px;
        }
        .footerlist{
            padding-top: 1rem;
            .f-list{
                // gap: 1.3rem;
                ul{
                    li{
                        margin-bottom: 0.8rem;
                    }
                }
            }
        }
    }
}
// End of ipad media query for footer 


// Beginning of phone media query for footer 
@mixin Footer-p{
    height: 128vh;
    padding-inline: $inline-p;
    padding-block: 1.5rem;
    padding-bottom: 0.8rem;
    .cfooter{
        flex-direction: column;
        gap: 2rem;
        .newsletter{
            width: 100%;
            padding-right: 0;
            p{
                width: 100%;
                // background-color: brown;
            }
            h3{
                width: 100%;
            }
            .subscribe{
                width: 100%;
                input{
                    width: 100%;
                }
            }
        }
        .footerlist{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 0.5rem;
            padding-top: 0.4rem;
        }
    }
    .copyright{
        flex-direction: column-reverse;
        padding-right: 0rem;
        padding-block: 1rem;
        justify-content: center;
        gap: 1rem;
        .copy-f{
            p{
                font-size: 0.78rem;
            }
        }
    }
}
// End of phone media query for footer 