$primarycolor: white;
$secondary: #dde8ff;
$blue: #2C97FD;
$darkblue: #1B2433;
$textcolor1:#333333;
$textcolor2:#999999;
$font1: sans-serif;
$font2: cursive;
$inline: 5rem;
$sectheight: 100vh;
$inline-i: 2rem;
$inline-p: 1.5rem;