@import "./mixin";
@import "./variables";
@import "./mediaqueries";
@import "./base";
@import "./mixin2paschal";
@import "./variablespaschal";


header{
    @include NavBar($blue, $textcolor1);
}
footer {
    @include Footer($darkblue, $primarycolor, #999999)
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateX(30px);
    }
    50% {
        transform: translate(-30px);
    }
    60% {
        transform: translateY(-20px);
    }
}

/* Style for the circle ball */
.circle-ball-2{
    width: 50px;
    height: 50px;
    background-image: linear-gradient($blue, white);
    border-radius: 50%;
    position: relative;
    animation: bounce 2s infinite;
    // margin-right: -14rem;
}

.card-img-top {
    transition: transform 0.3s; /* Add a smooth transition effect */
}

.card:hover .card-img-top {
    transform: scale(1.1); /* Scale the image on hover */
}
.box-shadow-text {
    font-size: 24px;
    color: #333; /* Text color */
    text-shadow: 2px 2px 4px rgba(99, 96, 96, 0.5); 
}
.card {
    box-shadow:0, 4px, 10px rgba(19, 18, 18, 0.5);
    transition: box-shadow 0.3s;

}
.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media screen{
    header {
        display: flex;
    }
}
